html
	font-size: 10px
body
	margin: 0
	font-family: 'DINpro-regular', sans-serif
	font-size: 2.1rem
	font-weight: normal
h1
	color: #fff
	font-family: "DINpro-medium", sans-serif
	font-size: 4.8rem
	font-weight: normal
	line-height: 5.7rem
h2
	color: #fff
	font-family: 'DINpro-regular', sans-serif
	font-size: 4.2rem
	font-weight: normal
	text-align: center
p
	color: #fff
	font-family: "Ubuntu", sans-serif
	font-size: 2.1rem
	font-weight: normal
	line-height: 3.2rem
.walpaper-full
	background: url(../img/bg-full.jpg) top center no-repeat
	background-size: cover
	width: 100%
	height: auto
.bg-heder
	background: url(../img/bg-header.png) top center no-repeat
	background-size: cover
	width: 100%
	height: auto
	.logo-eloplay
		background: url(../img/logo-eloplay.svg) center no-repeat
		background-size: cover
		width: 145px
		height: 42px
		float: left
		margin-top: 25px
	.select-language
		background: url(../img/icon-language.svg) center no-repeat
		background-size: cover
		width: 40px
		height: 40px
		float: right
		margin-top: 25px
		position: relative
		opacity: 0.5
		cursor: pointer
		&:hover
			opacity: 1
			transition: opacity 0.2s
		span
			color: #fff
			font-size: 14px
			position: absolute
			top: 6px
			left: 50%
			transform: translateX(-50%)
	.indent-top
		margin-top: 123px
	.box-title		
		position: relative
		h1
			margin-bottom: 4.8rem
		.icon-play
			background: url(../img/icon-play.svg) center no-repeat
			background-size: cover
			width: 55px
			height: 55px
			position: absolute
			right: 51%
			top: -22px
	.box-input-mail
		p
			font-family: "DINpro-regular", sans-serif
			font-size: 2.5rem
			margin-bottom: 25px
			color: #ff8d00
			position: absolute
			right: 195px
			top: -90px
		.input-mail
			position: relative
			label
				color: #ff8d00
				font-size: 2.6rem
				line-height: 3rem
				margin-bottom: 3rem
				font-family: "DINpro-medium", sans-serif
				font-weight: normal
				display: block
			.form-control
				width: 66.5%
				height: 42px
				border-radius: 0
				display: inline-block
				font-size: 16px
			.btn-send
				height: 42px
				width: 29%
				background-color: #ff8d00
				color: #fff
				vertical-align: top
				margin-left: 10px
				padding: 9px 0 5px
				transition: transform 0.2s
				font-size: 16px
				&:hover
					transform: scale(1.05)
	.in-social-networks
		width: 100%
		height: 125px
		display: block
		border-bottom: 1px solid rgba(255,255,255,0.5)
		border-top: 1px solid rgba(255,255,255,0.5)
		line-height: 125px
		margin-top: 91px
		margin-bottom: 91px
		p
			color: rgba(255,255,255,0.5)
		li
			display: inline-block
			vertical-align: middle			
			opacity: 0.5
			&:not(:last-child)
				margin-right: 9.5%
		.icon-social-1
			background: url(../img/icon-social-1.svg) center no-repeat
			background-size: cover
			width: 40px
			height: 40px
		.icon-social-2
			background: url(../img/icon-social-2.svg) center no-repeat
			background-size: cover
			width: 40px
			height: 36px
		.icon-social-3
			background: url(../img/icon-social-3.svg) center no-repeat
			background-size: cover
			width: 40px
			height: 45px
		.icon-social-4
			background: url(../img/icon-social-4.svg) center no-repeat
			background-size: cover
			width: 40px
			height: 34px
		.icon-social-5
			background: url(../img/icon-social-5.svg) center no-repeat
			background-size: cover
			width: 40px
			height: 40px
		.icon-social-6
			background: url(../img/icon-social-6.svg) center no-repeat
			background-size: cover
			width: 45px
			height: 39px
.box-icon-partners
	text-align: center
	width: 75%
	margin: 12rem auto 0
	.icon-axon
		background: url(../img/icon-axon.svg) center no-repeat
		background-size: cover
		width: 250px
		height: 35px
		display: inline-block
		vertical-align: top
		float: left
	.icon-forklog
		background: url(../img/icon-forklog.svg) center no-repeat
		background-size: cover
		width: 250px
		height: 60px
		display: inline-block
		vertical-align: top
		float: right
.box-vidos
	margin-bottom: 3rem
	margin-top: 12rem
.box-vidos
	margin-bottom: 3rem
	.video
		height: 0
		position: relative
		padding-bottom: 56.25%
		width: 95%
		margin: 0 auto
		iframe
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
.box-text
	width: 100%
	margin-right: initial
	margin-left: initial
	background: url(../img/bg-sction-text.png) center no-repeat #fff
	background-size: cover
	border-radius: 5px
	margin-top: 4.5rem
	padding: 5rem
	.text-pading
		padding: 1rem 4rem
		&:nth-child(2)
			p
				line-height: 3rem
	p
		font-family: "Ubuntu", sans-serif
		font-weight: 300
		font-size: 18px
		color: rgba(0,0,0,0.7)
		span
			font-weight: 400
			color: #000
.history-progect
	margin-top: 11rem
	h2
		margin-bottom: 8rem
	.box-item-hist
		text-align: center
		.item-hist
			width: 22%
			min-width: 216px
			height: 320px
			border: 1px solid #ff8d00
			display: inline-block
			text-align: left
			padding: 2.5%
			box-shadow: 0 5px 0 #ff8d00
			margin: 1.2%
			vertical-align: top
			p:nth-child(2)
				font-family: "DINpro-medium", sans-serif
				font-size: 6rem
				margin-top: 85px
				margin-bottom: 36px
			p:nth-child(3)
				font-family: "Ubuntu", sans-serif
				font-weight: 300
				font-size: 1.8rem
			.icon-hist-1
				background: url(../img/icon-history-1.svg) center no-repeat
				background-size: contain
				width: 51px
				height: 42px
			.icon-hist-2
				background: url(../img/icon-history-2.svg) center no-repeat
				background-size: contain
				width: 57px
				height: 42px
			.icon-hist-3
				background: url(../img/icon-history-3.svg) center no-repeat
				background-size: contain
				width: 51px
				height: 44px
			.icon-hist-4
				background: url(../img/icon-history-4.svg) center no-repeat
				background-size: contain
				width: 44px
				height: 42px
.sect-center
	width: 100%
	height: 954px
	overflow: hidden
	.container
		text-align: left
		position: relative
		padding-top: 223px
		z-index: 0
		h2
			text-align: left
			margin-bottom: 60px
		p
			font-family: "Ubuntu", sans-serif
			font-weight: 300
			font-size: 18px
		.btn-game
			height: 42px
			width: 130px
			background-color: #ff8d00
			color: #fff
			padding: 9px 0 5px
			transition: transform 0.2s
			font-size: 16px
			z-index: 1
			margin-top: 19px
			&:hover
				transform: scale(1.05)
	.bg-center
		background: url(../img/bg-center.png) center no-repeat
		background-size: contain
		height: 954px
		position: absolute
		left: 65px
		top: 69px
		width: 1477px
		z-index: -1

