@charset "UTF-8";
html {
  font-size: 10px; }

body {
  margin: 0;
  font-family: "DINpro-regular", sans-serif;
  font-size: 2.1rem;
  font-weight: normal; }
  body.disable-scroll {
    overflow-y: hidden; }

h1 {
  color: #fff;
  font-family: "DINpro-medium", sans-serif;
  font-size: 4.8rem;
  font-weight: normal;
  line-height: 5.7rem; }

h2 {
  color: #fff;
  font-family: "DINpro-regular", sans-serif;
  font-size: 4.2rem;
  font-weight: normal;
  text-align: center; }

p {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.1rem;
  font-weight: normal;
  line-height: 3.2rem; }

.walpaper-full {
  background: url(../img/bg-full.jpg) top center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto; }

.bg-heder {
  background: url(../img/bg-header.png) top center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto; }
  .bg-heder .logo-eloplay {
    background: url(../img/logo-eloplay.svg) center no-repeat;
    background-size: cover;
    width: 145px;
    height: 42px;
    float: left;
    margin-top: 25px;
    margin-left: 17px;
    z-index: 2;
    position: absolute; }
  .bg-heder .select-language {
    background: url(../img/icon-language.svg) center no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 25px;
    position: relative;
    opacity: 0.5;
    cursor: pointer;
    margin-right: 17px; }
    .bg-heder .select-language:hover {
      opacity: 1;
      transition: opacity 0.2s; }
    .bg-heder .select-language .down-menu {
      position: absolute;
      top: 48px;
      left: -33px;
      background-color: rgba(0, 0, 0, 0.8);
      width: 110px;
      padding: 7px 0 7px 0;
      border-radius: 5px; }
      .bg-heder .select-language .down-menu:before {
        display: block;
        content: "";
        position: absolute;
        left: 44%;
        top: -6px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid rgba(0, 0, 0, 0.8); }
      .bg-heder .select-language .down-menu a {
        text-decoration: none; }
      .bg-heder .select-language .down-menu li {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        padding: 5px 15px; }
        .bg-heder .select-language .down-menu li:hover {
          color: #fff;
          background-color: #000; }
    .bg-heder .select-language span {
      color: #fff;
      font-size: 14px;
      position: absolute;
      top: 6px;
      left: 50%;
      transform: translateX(-50%); }
  .bg-heder .indent-top {
    margin-top: 123px; }
  .bg-heder .box-title {
    position: relative; }
    .bg-heder .box-title h1 {
      margin-bottom: 4.8rem;
      max-width: 54rem; }
    .bg-heder .box-title .icon-play {
      background: url(../img/icon-play.svg) center no-repeat;
      background-size: cover;
      width: 55px;
      height: 55px;
      position: absolute;
      left: 57%;
      top: -40px; }

.box-input-mail p {
  font-family: "DINpro-regular", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #ff8d00;
  position: absolute;
  right: 195px;
  top: -90px; }
.box-input-mail .input-mail {
  position: relative; }
  .box-input-mail .input-mail label {
    color: #ff8d00;
    font-size: 2.6rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    font-family: "DINpro-medium", sans-serif;
    font-weight: normal;
    display: block; }
  .box-input-mail .input-mail .form-control {
    width: 66.5%;
    height: 42px;
    border-radius: 0;
    display: inline-block;
    font-size: 16px; }
  .box-input-mail .input-mail .btn-send {
    height: 42px;
    width: 29%;
    background-color: #ff8d00;
    color: #fff;
    vertical-align: top;
    margin-left: 10px;
    transition: transform 0.2s;
    font-size: 16px; }
    .box-input-mail .input-mail .btn-send:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); }

.in-social-networks {
  width: 100%;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 125px;
  margin-top: 91px;
  margin-bottom: 91px;
  text-align: center;
  padding-left: 0; }
  .in-social-networks li {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.5;
    margin: 0 4.2%; }
  .in-social-networks .icon-social-1 {
    background: url(../img/icon-social-1.svg) center no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px; }
  .in-social-networks .icon-social-2 {
    background: url(../img/icon-social-2.svg) center no-repeat;
    background-size: cover;
    width: 40px;
    height: 36px; }
  .in-social-networks .icon-social-3 {
    background: url(../img/icon-social-3.svg) center no-repeat;
    background-size: cover;
    width: 40px;
    height: 45px; }
  .in-social-networks .icon-social-4 {
    background: url(../img/icon-social-4.svg) center no-repeat;
    background-size: cover;
    width: 40px;
    height: 34px; }
  .in-social-networks .icon-social-5 {
    background: url(../img/icon-social-5.svg) center no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px; }
  .in-social-networks .icon-social-6 {
    background: url(../img/icon-social-6.svg) center no-repeat;
    background-size: cover;
    width: 45px;
    height: 39px; }

.box-icon-partners {
  text-align: center;
  width: 75%;
  margin: 12rem auto 0; }
  .box-icon-partners .icon-axon {
    background: url(../img/icon-axon.svg) center no-repeat;
    background-size: cover;
    width: 250px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    float: left; }
  .box-icon-partners .icon-forklog {
    background: url(../img/icon-forklog.svg) center no-repeat;
    background-size: cover;
    width: 250px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    float: right; }

.box-vidos {
  margin-bottom: 3rem;
  margin-top: 12rem; }

.box-vidos {
  margin-bottom: 3rem; }
  .box-vidos .video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    width: 95%;
    margin: 0 auto; }
    .box-vidos .video iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }

.box-text {
  width: 100%;
  margin-right: initial;
  margin-left: initial;
  background: url(../img/bg-sction-text.png) center no-repeat #fff;
  background-size: cover;
  border-radius: 5px;
  margin-top: 4.5rem;
  padding: 5rem; }
  .box-text .text-pading {
    padding: 1rem 4rem; }
    .box-text .text-pading:nth-child(2) p {
      line-height: 3rem; }
  .box-text p {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7); }
    .box-text p span {
      font-weight: 400;
      color: #000; }

.history-progect {
  margin-top: 11rem; }
  .history-progect h2 {
    margin-bottom: 8rem; }
  .history-progect .box-item-hist {
    text-align: center; }
    .history-progect .box-item-hist .item-hist {
      width: 22%;
      min-width: 216px;
      height: 320px;
      border: 1px solid #ff8d00;
      display: inline-block;
      text-align: left;
      padding: 25px 15px;
      box-shadow: 0 5px 0 #ff8d00;
      margin: 2% 1.2%;
      vertical-align: top; }
      .history-progect .box-item-hist .item-hist p:nth-child(2) {
        font-family: "DINpro-medium", sans-serif;
        font-size: 6rem;
        margin-top: 85px;
        margin-bottom: 36px; }
      .history-progect .box-item-hist .item-hist p:nth-child(3) {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-size: 1.8rem; }
      .history-progect .box-item-hist .item-hist .icon-hist-1 {
        background: url(../img/icon-history-1.svg) center no-repeat;
        background-size: contain;
        width: 51px;
        height: 42px; }
      .history-progect .box-item-hist .item-hist .icon-hist-2 {
        background: url(../img/icon-history-2.svg) center no-repeat;
        background-size: contain;
        width: 57px;
        height: 42px; }
      .history-progect .box-item-hist .item-hist .icon-hist-3 {
        background: url(../img/icon-history-3.svg) center no-repeat;
        background-size: contain;
        width: 51px;
        height: 44px; }
      .history-progect .box-item-hist .item-hist .icon-hist-4 {
        background: url(../img/icon-history-4.svg) center no-repeat;
        background-size: contain;
        width: 44px;
        height: 42px; }

.sect-center {
  width: 100%;
  height: 954px;
  overflow: hidden; }
  .sect-center .container {
    text-align: left;
    position: relative;
    padding-top: 223px;
    z-index: 0; }
    .sect-center .container h2 {
      text-align: left;
      margin-bottom: 60px; }
    .sect-center .container p {
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      font-size: 18px; }
    .sect-center .container .btn-game {
      height: 42px;
      width: 130px;
      background-color: #ff8d00;
      color: #fff;
      padding: 9px 0 5px;
      transition: transform 0.2s;
      font-size: 16px;
      z-index: 1;
      margin-top: 19px; }
      .sect-center .container .btn-game:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); }
  .sect-center .bg-center {
    background: url(../img/bg-center.png) center no-repeat;
    background-size: contain;
    height: 954px;
    position: absolute;
    left: 65px;
    top: 69px;
    width: 1477px;
    z-index: -1; }

.command h2 {
  margin-top: 135px;
  margin-bottom: 60px; }
.command .box-item-command {
  text-align: center; }
  .command .box-item-command .item-command {
    width: 255px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 10px; }
    .command .box-item-command .item-command [class^=command-photo-] {
      width: 100%;
      height: 254px;
      background-size: cover !important;
      margin-bottom: 24px; }
    .command .box-item-command .item-command .command-photo {
      width: 100%; }
    .command .box-item-command .item-command .box-text-info {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      margin-top: 3.4rem;
      padding-bottom: 30px;
      min-height: 195px; }
      .command .box-item-command .item-command .box-text-info p:nth-child(1) {
        color: #ff8d00;
        font-family: "DINpro-regular", sans-serif;
        font-size: 2.1rem;
        font-weight: normal;
        line-height: 2.5rem;
        margin-bottom: 2.2rem; }
      .command .box-item-command .item-command .box-text-info p:nth-child(2) {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: rgba(255, 255, 255, 0.5); }
    .command .box-item-command .item-command .command-photo-1 {
      background: url(../img/img-command-1.jpg) top no-repeat; }
    .command .box-item-command .item-command .command-photo-2 {
      background: url(../img/img-command-2.jpg) top no-repeat; }
    .command .box-item-command .item-command .command-photo-3 {
      background: url(../img/img-command-3.jpg) top no-repeat; }
    .command .box-item-command .item-command .command-photo-4 {
      background: url(../img/img-command-4.jpg) top no-repeat; }
    .command .box-item-command .item-command .line {
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5); }
    .command .box-item-command .item-command .box-icon {
      text-align: left; }
      .command .box-item-command .item-command .box-icon .icon-soc-1 {
        background: url(../img/icon-social-7.svg) no-repeat;
        background-size: cover;
        width: 30px;
        height: 29px; }
      .command .box-item-command .item-command .box-icon .icon-soc-2 {
        background: url(../img/icon-social-8.svg) no-repeat;
        background-size: cover;
        width: 30px;
        height: 24px; }
      .command .box-item-command .item-command .box-icon .icon-soc-3 {
        background: url(../img/icon-social-4.svg) no-repeat;
        background-size: cover;
        width: 38px;
        height: 31px; }
      .command .box-item-command .item-command .box-icon .icon-soc-4 {
        background: url(../img/icon-social-5.svg) no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px; }
    .command .box-item-command .item-command [class^=icon-soc-] {
      opacity: 0.5;
      margin-top: 30px;
      display: inline-block; }
      .command .box-item-command .item-command [class^=icon-soc-]:not(:last-child) {
        margin-right: 23px; }

.box-input-mail.box-bottom {
  display: block;
  margin: 0 auto; }
  .box-input-mail.box-bottom .form-control {
    float: initial !important;
    display: block;
    margin: 0 auto;
    max-width: 360px; }
  .box-input-mail.box-bottom .btn-send {
    display: block;
    margin: 42px auto 78px;
    float: initial !important;
    width: 130px; }

.box-margin {
  margin-top: 15rem;
  margin-bottom: 8.6rem; }

.contacts.mob-hide {
  padding: 0;
  text-align: center;
  display: block; }
  .contacts.mob-hide li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px; }
    .contacts.mob-hide li:nth-child(2n) {
      margin: 0 25px; }

.bottom-logo-eloplay {
  background: url(../img/logo-eloplay.svg) center no-repeat;
  background-size: cover;
  width: 145px;
  height: 42px;
  margin: 13.5rem auto 0; }

.bg-bottom {
  background: url(../img/bg-footer.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 14rem;
  overflow: hidden; }

.form-control:focus,
.btn:focus {
  outline: #ff8d00;
  border-color: #ff8d00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff8d00; }

.menu-show {
  display: none;
  padding-left: 0; }
  .menu-show li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5); }
    .menu-show li a:hover {
      text-decoration: none;
      color: #fff; }
      .menu-show li a:hover span {
        color: #fff; }
  .menu-show li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .menu-show li {
    display: block;
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.8rem;
    font-family: "DINpro-regular", sans-serif;
    font-weight: 300;
    padding: 2.5rem; }
    .menu-show li span {
      color: rgba(255, 255, 255, 0.3); }

.mob-show {
  display: none; }

.mob-hide {
  display: inline-block; }

.menu-top {
  display: none; }

.button-close {
  position: absolute;
  right: 16px;
  font-size: 15px;
  color: #fff;
  top: 35px;
  cursor: pointer; }
  .button-close .icon-close:before {
    content: "✕";
    position: absolute;
    color: #fff;
    font-size: 21px;
    right: 51px;
    top: -5px; }

.bottom-language {
  background-color: #0e0c18;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  left: 0;
  padding: 15px;
  text-align: center; }
  .bottom-language a {
    color: #fff;
    text-decoration: none;
    margin: 25px;
    line-height: 47px;
    font-size: 1.8rem;
    white-space: nowrap; }
    .bottom-language a.grey-color {
      color: rgba(255, 255, 255, 0.5);
      cursor: default; }

.menu-show {
  display: none;
  margin-top: 56px;
  margin-bottom: 30px; }

.menu-top.menu-show {
  width: 100%;
  margin-right: 0;
  margin-top: 67px; }
  .menu-top.menu-show li {
    text-align: right; }

.contacts.mob-show {
  padding: 0;
  text-align: center; }
  .contacts.mob-show li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px; }
    .contacts.mob-show li:nth-child(2n) {
      margin: 0 25px; }

.menu_cont {
  width: 100%;
  height: 102vh;
  position: relative;
  z-index: 1;
  background-color: #1d1930;
  padding: 15px; }

#modal-menu {
  width: 100%;
  padding-right: 0 !important; }
  #modal-menu .modal-dialog {
    margin: 0; }
    #modal-menu .modal-dialog .modal-content {
      border-radius: 0;
      background-color: #1d1930;
      min-height: 700px; }
    #modal-menu .modal-dialog .modal-header {
      border-bottom: none;
      background-color: #1d1930; }
      #modal-menu .modal-dialog .modal-header .button-close {
        z-index: 1; }
        #modal-menu .modal-dialog .modal-header .button-close:hover {
          text-decoration: none;
          color: #fff; }
      #modal-menu .modal-dialog .modal-header .logo-eloplay {
        margin-top: 10px;
        margin-left: 0; }
    #modal-menu .modal-dialog .modal-body {
      display: inline-block;
      width: 100%;
      margin-bottom: 110px; }
    #modal-menu .modal-dialog .modal-footer {
      border-top: none;
      display: inline-block;
      padding: 0; }

.menu-top {
  display: none;
  color: rgba(255, 255, 255, 0.5);
  float: right;
  margin: 30px 17px 0 0;
  cursor: pointer; }
  .menu-top:hover {
    color: #fff;
    text-decoration: none; }

.icon-button {
  background: url(../img/icon-btn.svg);
  background-size: contain;
  width: 33px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }

.icon-btn-play {
  background: url(../img/icon-btn-play.svg);
  background-size: contain;
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px; }

.no-padding {
  padding: 0; }

.btn-large-color {
  text-transform: uppercase;
  padding: 2rem 3.3rem;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.2s;
  background: linear-gradient(90deg, #d5718e 0%, #d77386 12.97%, #de7770 33.02%, #e87e4d 57.67%, #f7881c 85.69%, #ff8d00 100%);
  background: -moz-linear-gradient(0% 50% 0deg, #d5718e 0%, #d77386 12.97%, #de7770 33.02%, #e87e4d 57.67%, #f7881c 85.69%, #ff8d00 100%);
  background: -webkit-linear-gradient(0deg, #d5718e 0%, #d77386 12.97%, #de7770 33.02%, #e87e4d 57.67%, #f7881c 85.69%, #ff8d00 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #d5718e), color-stop(0.1297, #d77386), color-stop(0.3302, #de7770), color-stop(0.5767, #e87e4d), color-stop(0.8569, #f7881c), color-stop(1, #ff8d00));
  background: -o-linear-gradient(0deg, #d5718e 0%, #d77386 12.97%, #de7770 33.02%, #e87e4d 57.67%, #f7881c 85.69%, #ff8d00 100%);
  background: -ms-linear-gradient(0deg, #d5718e 0%, #d77386 12.97%, #de7770 33.02%, #e87e4d 57.67%, #f7881c 85.69%, #ff8d00 100%);
  border: none;
  box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.4); }
  .btn-large-color:hover, .btn-large-color:focus {
    color: #fff; }
  .btn-large-color:hover {
    transform: scale(1.05);
    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.8); }

.btn-dark {
  color: rgba(255, 255, 255, 0.5);
  padding: 1.4rem 2.7rem;
  background-color: #000;
  text-transform: uppercase;
  transition: all 0.2s;
  font-size: 1.6rem; }
  .btn-dark:hover {
    color: rgba(255, 255, 255, 0.5);
    transform: scale(1.05); }

.full-bg {
  background: url(../img/bg-full-p1.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 10000px;
  overflow: hidden; }
  .full-bg .top-bar {
    width: 100%;
    height: 90px;
    position: relative; }
    .full-bg .top-bar .btn-nav {
      display: none; }
    .full-bg .top-bar .box-logo {
      display: inline-block;
      height: 100%;
      width: 18%;
      text-align: center;
      min-width: 183px; }
      .full-bg .top-bar .box-logo:after {
        content: "";
        height: 100%;
        vertical-align: middle;
        display: inline-block; }
      .full-bg .top-bar .box-logo a {
        display: inline-block;
        vertical-align: middle; }
    .full-bg .top-bar .logo-eloplay {
      background: url(../img/logo-eloplay.svg) center no-repeat;
      background-size: cover;
      width: 145px;
      height: 42px;
      z-index: 2; }
    .full-bg .top-bar .select-language {
      background: url(../img/icon-language.svg) center no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px;
      float: right;
      margin-top: 25px;
      position: relative;
      opacity: 0.5;
      cursor: pointer;
      margin-right: 120px; }
      .full-bg .top-bar .select-language:hover {
        opacity: 1;
        transition: opacity 0.2s; }
      .full-bg .top-bar .select-language .down-menu {
        position: absolute;
        top: 48px;
        left: -33px;
        background-color: rgba(0, 0, 0, 0.8);
        width: 110px;
        padding: 7px 0 7px 0;
        border-radius: 5px; }
        .full-bg .top-bar .select-language .down-menu:before {
          display: block;
          content: "";
          position: absolute;
          left: 44%;
          top: -6px;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid rgba(0, 0, 0, 0.8); }
        .full-bg .top-bar .select-language .down-menu a {
          text-decoration: none; }
        .full-bg .top-bar .select-language .down-menu li {
          display: block;
          color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          padding: 5px 15px; }
          .full-bg .top-bar .select-language .down-menu li:hover {
            color: #fff;
            background-color: #000; }
      .full-bg .top-bar .select-language span {
        color: #fff;
        font-size: 14px;
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%); }
    .full-bg .top-bar .top-memu-p1 {
      font-size: 1.6rem;
      font-family: "DINpro-regular", sans-serif;
      text-transform: uppercase;
      height: 100%;
      vertical-align: middle;
      margin-bottom: 0;
      margin-left: 1%;
      display: inline-block;
      width: 57%;
      min-width: 693px; }
      .full-bg .top-bar .top-memu-p1:before {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle; }
      .full-bg .top-bar .top-memu-p1 ul {
        display: inline-block;
        padding: 0;
        vertical-align: middle;
        margin-bottom: 0;
        width: 99%; }
        .full-bg .top-bar .top-memu-p1 ul li {
          display: inline-block;
          vertical-align: middle; }
          .full-bg .top-bar .top-memu-p1 ul li:nth-child(1) {
            min-width: 95px;
            padding-right: 4%; }
          .full-bg .top-bar .top-memu-p1 ul li:nth-child(2) {
            min-width: 76px;
            padding-right: 4%; }
          .full-bg .top-bar .top-memu-p1 ul li:nth-child(3) {
            min-width: 104px;
            padding-right: 4%; }
          .full-bg .top-bar .top-memu-p1 ul li:nth-child(4) {
            min-width: 130px;
            padding-right: 4%; }
          .full-bg .top-bar .top-memu-p1 ul li:nth-child(5) {
            min-width: 60px;
            padding-right: 4%; }
          .full-bg .top-bar .top-memu-p1 ul li:nth-child(6) {
            min-width: 78px; }
        .full-bg .top-bar .top-memu-p1 ul a {
          color: rgba(255, 255, 255, 0.5); }
          .full-bg .top-bar .top-memu-p1 ul a:hover, .full-bg .top-bar .top-memu-p1 ul a:focus {
            color: #fff;
            text-decoration: none; }
    .full-bg .top-bar .btn-nav {
      padding: 7px 12px;
      border: 1px solid #fff;
      position: absolute;
      cursor: pointer;
      border-radius: 3px;
      color: #fff;
      font-size: 40px;
      opacity: 0.5;
      background-color: transparent;
      top: 50%;
      right: 15px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .full-bg .top-bar .btn-nav .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        margin: 4px 0;
        background-color: #fff; }
    .full-bg .top-bar .btn-nav-menu {
      width: 222px;
      height: auto;
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 3px;
      right: -250px;
      top: 80px;
      position: absolute;
      transition: all 0.2s ease-out;
      display: none;
      z-index: 1; }
      .full-bg .top-bar .btn-nav-menu.d-menu-show {
        right: 15px; }
      .full-bg .top-bar .btn-nav-menu ul {
        padding: 10px 0; }
        .full-bg .top-bar .btn-nav-menu ul a {
          text-decoration: none; }
        .full-bg .top-bar .btn-nav-menu ul li {
          display: block;
          color: rgba(255, 255, 255, 0.5);
          font-size: 18px;
          padding: 5px 20px; }
          .full-bg .top-bar .btn-nav-menu ul li:hover {
            color: #fff; }
  .full-bg .font-l-48 {
    font-size: 4.8rem;
    color: #1d1930;
    font-family: "DINpro-light", sans-serif;
    line-height: 6rem; }
    .full-bg .font-l-48.color-or {
      color: #ff8d00; }
  .full-bg .sect-top {
    margin-top: 90px;
    margin-bottom: 85px; }
    .full-bg .sect-top .indent-bottom {
      margin-bottom: 168px; }
    .full-bg .sect-top .box-left {
      padding-left: 0; }
      .full-bg .sect-top .box-left p:nth-child(2) {
        font-size: 2.1rem;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Ubuntu", sans-serif;
        margin-top: 47px; }
    .full-bg .sect-top .box-right .box-time {
      width: 94%;
      max-width: 503px;
      height: 308px;
      border-radius: 6px;
      margin: 0 auto;
      position: relative;
      z-index: 0;
      box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.3); }
      .full-bg .sect-top .box-right .box-time .time-title {
        display: inline-block;
        margin: 39px auto 19px;
        width: 100%; }
      .full-bg .sect-top .box-right .box-time .box-time-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(-5.7% 102.03% 29.79deg, #2b2841 0%, #302a43 13.71%, #3d3049 29.09%, #543952 45.27%, #73475f 62%, #9b5870 79.18%, #cc6d84 96.46%, #d77289 100%);
        background: -webkit-linear-gradient(29.79deg, #2b2841 0%, #302a43 13.71%, #3d3049 29.09%, #543952 45.27%, #73475f 62%, #9b5870 79.18%, #cc6d84 96.46%, #d77289 100%);
        background: -webkit-gradient(linear, -5.7% 102.03%, 135.82% -30.16%, color-stop(0, #2b2841), color-stop(0.1371, #302a43), color-stop(0.2909, #3d3049), color-stop(0.4527, #543952), color-stop(0.62, #73475f), color-stop(0.7918, #9b5870), color-stop(0.9646, #cc6d84), color-stop(1, #d77289));
        background: -o-linear-gradient(29.79deg, #2b2841 0%, #302a43 13.71%, #3d3049 29.09%, #543952 45.27%, #73475f 62%, #9b5870 79.18%, #cc6d84 96.46%, #d77289 100%);
        background: -ms-linear-gradient(29.79deg, #2b2841 0%, #302a43 13.71%, #3d3049 29.09%, #543952 45.27%, #73475f 62%, #9b5870 79.18%, #cc6d84 96.46%, #d77289 100%);
        background: linear-gradient(60.21deg, #2b2841 0%, #302a43 13.71%, #3d3049 29.09%, #543952 45.27%, #73475f 62%, #9b5870 79.18%, #cc6d84 96.46%, #d77289 100%);
        opacity: 0.4;
        z-index: -1;
        border-radius: 6px; }
      .full-bg .sect-top .box-right .box-time .btn-large-color {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -3.6rem; }
        .full-bg .sect-top .box-right .box-time .btn-large-color:hover {
          transform: translateX(-50%) scale(1.05); }
      .full-bg .sect-top .box-right .box-time p {
        font-family: "Ubuntu", sans-serif;
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-weight: 300;
        line-height: normal; }
      .full-bg .sect-top .box-right .box-time ul {
        padding: 0;
        margin: 0;
        text-align: center; }
        .full-bg .sect-top .box-right .box-time ul li {
          text-transform: uppercase;
          display: inline-block;
          position: relative;
          width: 23%; }
          .full-bg .sect-top .box-right .box-time ul li p:nth-child(1) {
            color: #fff;
            font-size: 8rem;
            font-family: "DINpro-light", sans-serif;
            text-shadow: 5px 6px 13px rgba(0, 0, 0, 0.7); }
          .full-bg .sect-top .box-right .box-time ul li p:nth-child(2) {
            color: rgba(255, 255, 255, 0.5);
            font-size: 12px;
            font-family: "DINpro-light", sans-serif; }
          .full-bg .sect-top .box-right .box-time ul li:not(:last-child):after {
            content: "";
            position: absolute;
            width: 21px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.5);
            transform: rotate(90deg);
            top: 56px;
            right: -11px; }
    .full-bg .sect-top .box-dark-button {
      text-align: left;
      padding-left: 0;
      padding-right: 0; }
    .full-bg .sect-top .in-social-p1 {
      opacity: 0.5;
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: right;
      margin-top: 14px; }
      .full-bg .sect-top .in-social-p1 li {
        display: inline-block;
        width: 15.3%;
        text-align: right;
        min-width: 85px; }
        .full-bg .sect-top .in-social-p1 li .icon-social-1 {
          background: url(../img/icon-social-1.svg) no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px;
          display: inline-block; }
        .full-bg .sect-top .in-social-p1 li .icon-social-2 {
          background: url(../img/icon-social-2.svg) no-repeat;
          background-size: contain;
          width: 32px;
          height: 28px;
          display: inline-block; }
        .full-bg .sect-top .in-social-p1 li .icon-social-3 {
          background: url(../img/icon-social-3.svg) no-repeat;
          background-size: contain;
          width: 30px;
          height: 33px;
          display: inline-block; }
        .full-bg .sect-top .in-social-p1 li .icon-social-4 {
          background: url(../img/icon-social-4.svg) no-repeat;
          background-size: contain;
          width: 32px;
          height: 26px;
          display: inline-block; }
        .full-bg .sect-top .in-social-p1 li .icon-social-5 {
          background: url(../img/icon-social-5.svg) no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px;
          display: inline-block; }
        .full-bg .sect-top .in-social-p1 li .icon-social-6 {
          background: url(../img/icon-social-6.svg) no-repeat;
          background-size: contain;
          width: 36px;
          height: 31px;
          display: inline-block; }
  .full-bg .bg-white-center {
    background: url(../img/bg-white-center.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    padding-top: 11.3rem; }
  .full-bg .title-pay-token {
    position: relative; }
    .full-bg .title-pay-token:after {
      content: "";
      width: 189px;
      height: 3px;
      background: linear-gradient(90deg, #d5718e 0%, #d77386 12.97%, #de7770 33.02%, #e87e4d 57.67%, #f7881c 85.69%, #ff8d00 100%);
      position: absolute;
      bottom: -21px;
      left: 0; }
  .full-bg .box-time-token {
    width: 100%;
    margin-top: 72px; }
  .full-bg [class$=-pay-token] {
    display: inline-block; }
    .full-bg [class$=-pay-token] p:nth-child(1) {
      font-size: 2.1rem;
      color: #5c556b;
      font-family: "Ubuntu", sans-serif;
      font-weight: 500; }
    .full-bg [class$=-pay-token] p:nth-child(2) {
      font-size: 2.1rem;
      color: #5c556b;
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      line-height: 7px; }
  .full-bg .end-pay-token {
    text-align: right;
    float: right; }

@media (max-width: 1200px) {
  .in-social-networks li:nth-child(1) {
    display: block;
    margin-top: 45px; }

  .full-bg .top-bar .top-memu-p1 {
    display: none; }

  .full-bg .top-bar .btn-nav,
  .full-bg .top-bar .btn-nav-menu {
    display: block; } }
@media (max-width: 992px) {
  .full-bg .sect-top .box-dark-button,
  .full-bg .sect-top .in-social-p1 li,
  .full-bg .sect-top .in-social-p1 {
    text-align: center; }

  .full-bg .sect-top .in-social-p1 {
    margin-top: 45px; } }
@media (max-width: 768px) {
  .bg-heder .indent-top {
    margin-top: 72px; }

  .in-social-networks {
    margin-bottom: 60px; }
    .in-social-networks li {
      margin: 0 9.5%; } }
@media (max-width: 576px) {
  .contacts.mob-hide {
    display: none; }

  .menu-show {
    display: block; }

  .menu-top {
    display: block; }

  .select-language {
    display: none; }

  .mob-show {
    display: inline-block; }

  .mob-hide {
    display: none; }

  .bg-heder .box-title .icon-play {
    left: 76%; }

  .bg-heder .box-title h1 {
    font-size: 4.5rem;
    max-width: 38rem; }

  .box-text {
    padding: 0; }
    .box-text .text-pading {
      padding: 3rem 3rem; }

  .box-input-mail.box-bottom {
    width: 90%; }

  label[for=send-mail] {
    margin-top: 76px; }

  .box-icon-partners .icon-axon {
    float: initial; }
  .box-icon-partners .icon-forklog {
    float: initial;
    margin-top: 95px;
    margin-bottom: 35px; }

  .history-progect {
    margin-top: 50px; }
    .history-progect .box-item-hist .item-hist {
      min-width: 210px; }

  .sect-center {
    height: 740px; }
    .sect-center .container {
      padding-top: 102px; }
    .sect-center h2 {
      margin-bottom: 38px; }

  .sect-center .bg-center {
    height: 492px;
    position: absolute;
    left: -395px;
    top: 294px; }

  .command .box-item-command .item-command {
    float: left;
    width: 100%;
    margin: 26px 0; }
    .command .box-item-command .item-command .command-photo {
      width: 44%;
      float: left;
      margin-right: 6%; }
    .command .box-item-command .item-command .box-text-info {
      width: 46%;
      float: left;
      margin-top: 0;
      border-bottom: none; }

  .box-input-mail .input-mail .form-control {
    width: 68%;
    float: left; }

  .box-input-mail .input-mail .btn-send {
    width: 29%;
    float: left; }

  .box-input-mail.box-bottom .form-control {
    width: 360px; }

  .bottom-logo-eloplay {
    margin: 25px auto 0; }

  .full-bg .sect-top {
    margin-top: 25px; }

  .full-bg .box-time-token {
    text-align: center; }

  .full-bg .end-pay-token {
    text-align: center;
    float: none;
    margin-top: 15px; } }
@media (max-width: 470px) {
  .bg-heder .box-title h1 {
    font-size: 3.9rem; }

  .box-input-mail .input-mail .form-control {
    display: block;
    margin: 0 auto;
    width: 100%;
    float: initial; }

  .box-input-mail .input-mail .btn-send {
    display: block;
    margin: 45px auto 0;
    width: 130px;
    float: initial; }

  .box-input-mail.box-bottom .form-control {
    width: 94% !important; }

  .command .box-item-command .item-command .box-text-info p:nth-child(1) {
    margin-bottom: 1rem;
    line-height: 2.1rem;
    font-size: 1.7rem; }
  .command .box-item-command .item-command .box-text-info p:nth-child(2) {
    line-height: 2.2rem;
    font-size: 1.7rem; }

  .full-bg .font-l-48 {
    font-size: 4rem; }

  .btn-large-color {
    padding: 2.5rem 1.7rem; }

  .full-bg .sect-top .box-right .box-time {
    height: 242px; }
    .full-bg .sect-top .box-right .box-time ul li p:nth-child(1) {
      font-size: 6rem; }
    .full-bg .sect-top .box-right .box-time ul li:not(:last-child):after {
      top: 40px; }

  .icon-button {
    display: none; } }
@media (max-width: 360px) {
  html {
    font-size: 9px; } }

/*# sourceMappingURL=main.css.map */
