<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Eloplay ICO</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&amp;subset=cyrillic" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="stylesheet" href="./css/fonts.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>
<body ng-app="">
		<div class="walpaper-full">
			<div class="bg-heder">
				<div class="container">
					<div class="row">
						<a href="http://eloplay.com"><div class="logo-eloplay"></div></a>
						<div class="select-language" ng-init="lang='EN'; is_open = false" ng-click="is_open = !is_open" ng-cloak><span>{{lang}}</span>
								<ul class="down-menu" ng-show="is_open">
									<a href="./index-en.html"><li ng-click="lang='EN'">EN</li></a>
									<a href="./index.html"><li ng-click="lang='РУС'">РУС</li></a>
								</ul>
						</div>
					</div>
					<div class="row indent-top">
						<div class="box-title col-md-7">
							<h1>Эло Токены<br>для киберспортивных</br>Смарт Турниров</h1>
							<p>Платформа, где тысячи киберспортсменов<br>получили возможность проводить<br>децентрализованные турниры</p>
							<div class="icon-play"></div>
						</div>
						<div class="box-input-mail col-md-5">
							<form class="form-group input-mail" action="https://app.getresponse.com/add_subscriber.html" method="post" accept-charset="utf-8">
								<label for="send-mail">Следите за новостями<br>краудсейл</label>
								<input type="email" name="email" class="form-control" placeholder="E-mail address" id="send-mail" required>
								<input type="hidden" name="campaign_token" value="nTjtu" />
								<input type="submit" class="btn btn-send" value="Подписаться"></input>
							</form>
						</div>
					</div>
					<ul class="in-social-networks">
						<li><p>Мы в соцсетях</p></li>
						<li class="icon-social-1"></li>
						<li class="icon-social-2"></li>
						<li class="icon-social-3"></li>
						<li class="icon-social-4"></li>
						<li class="icon-social-5"></li>
						<li class="icon-social-6"></li>
					</ul>
				</div>
			</div>		
			<div class="container">
				<h2>Партнёры проекта</h2>	
				<div class="box-icon-partners">
					<div class="icon-axon"></div>
					<div class="icon-forklog"></div>
				</div>
			</div>
<!-- 			<div class="container box-vidos">
	<div class="video">
		<iframe src="https://www.youtube.com/embed/OorZcOzNcgE" frameborder="0" allowfullscreen></iframe>
	</div>
</div> -->
			<div class="container">
				<div class="row box-text">
					<div class="col-md-6 text-pading"><p><span>На сегодняшний день киберспорт является одной из самых быстро растущих индустрий.<br><br></span>
					Миллионы фанатов по всему миру собираются на просмотры самых зрелищных киберспортивных соревнований - турниров. Они же являются самыми активными игроками в киберспортивные дисциплины.<br><br>
					Очевидно, что <span>в 2017 году общий призовой фонд
					киберспортивных турниров перевалит за 100
					миллионов долларов.</span> Такие суммы выделяют крупные бренды и <span>только избранные профессиональные киберспортсмены</span> могут соревноваться за такие призы.</p></div>
					<div class="col-md-6 text-pading"><p>Остаются миллионы игроков, которые также хотят принимать участие в турнирах, получать опыт профессиональных киберспортсменов, а главное - соревноваться за крупные призовые фонды. Решением этой проблемы занимается команда Элоплей.<br><br><span>Мы предлагаем создать Смарт Турниры,</span> призовые фонды которых будут формироваться из взносов участников турниров и распределяться между призовыми местами с помощью технологии блокчейн и смарт контрактов.<br><br><span>Теперь каждый игрок получит возможность принять участие в киберспортивном турнире или организовать его для своих друзей и знакомых.</span>
					</p></div>
				</div>
			</div>
			<div class="container history-progect">
				<h2>История проекта</h2>
				<div class="box-item-hist">
					<div class="item-hist">
						<div class="icon-hist-1"></div>
						<p>1,5</p>
						<p>Платформе ELOPLAY<br>уже 1,5 года</p>
					</div>
					<div class="item-hist">
						<div class="icon-hist-2"></div>
						<p>90 000</p>
						<p>Зарегистрированных<br>игроков</p>
					</div>
					<div class="item-hist">
						<div class="icon-hist-3"></div>
						<p>80 000</p>
						<p>Проведённых<br>боёв</p>
					</div>
					<div class="item-hist">
						<div class="icon-hist-4"></div>
						<p>3 500</p>
						<p>Проведённых<br>турниров</p>
					</div>
				</div>
			</div>
			<div class="sect-center">				
				<div class="container">
					<div class="bg-center"></div>
					<h2>Уже можно пойти и поиграть<br>на платформе</h2>
					<p>ELOPLAY - это готовый продукт которым уже<br>успешно пользуются десятки тысяч<br>киберспортсменов. Присоединяйтесь!</p>
					<a  href="http://eloplay.com" class="btn btn-game">Играть!</a>
				</div>
			</div>
			<div class="container command">
				<h2>Команда</h2>
				<div class="box-item-command">
					<div class="item-command">
						<div class="command-photo-1"></div>
						<p>Станиславский Константин Сергеевич</p>
						<p>Русский театральный режиссёр, актёр и педагог,реформатор театра<br><br></p>
						<div class="line"></div>
						<div class="box-icon">
							<div class="icon-soc-1"></div>
						</div>
					</div>
					<div class="item-command">
						<div class="command-photo-2"></div>
						<p>Андре Антуан<br><br></p>
						<p>Французский режиссёр театра и кино, теоретик театра<br><br></p>
						<div class="line"></div>
						<div class="box-icon">
							<div class="icon-soc-1"></div>
							<div class="icon-soc-2"></div>
						</div>
					</div>
					<div class="item-command">
						<div class="command-photo-3"></div>
						<p>Герхарт Иоганн Роберт Гауптман</p>
						<p>Лауреат Нобелевской премии по литературе за 1912 год<br><br><br></p>
						<div class="line"></div>
						<div class="box-icon">
							<div class="icon-soc-1"></div>
							<div class="icon-soc-3"></div>
							<div class="icon-soc-4"></div>
						</div>
					</div>
					<div class="item-command">
						<div class="command-photo-4"></div>
						<p>Граф Лев Николаевич Толстой</p>
						<p>Один из наиболее известных русских писателей и мыслителей<br><br></p>
						<div class="line"></div>
						<div class="box-icon">
							<div class="icon-soc-1"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-bottom">
				<h2 class="box-margin">Следите за новостями</h2>
				<div class="box-input-mail box-bottom">
					<form class="form-group input-mail" action="https://app.getresponse.com/add_subscriber.html" method="post" accept-charset="utf-8">
						<input type="email" name="email" class="form-control" placeholder="E-mail address" id="send-mail" required>
						<input type="hidden" name="campaign_token" value="nTjtu" />
						<input type="submit" class="btn btn-send" value="Подписаться"></input>
					</form>
				</div>
				<div class="container">
					<ul class="in-social-networks">
						<li><p>Мы в соцсетях</p></li>
						<li class="icon-social-1"></li>
						<li class="icon-social-2"></li>
						<li class="icon-social-3"></li>
						<li class="icon-social-4"></li>
						<li class="icon-social-5"></li>
						<li class="icon-social-6"></li>
					</ul>

					<ul class="contacts">
						<li>Phone: +372 58 738 066</li>
						<li>|</li>
						<li>Email: info@eloplay.com</li>
						<li>|</li>
						<li>Post address: Tartu mnt 43 Tallinn 10128 Estonia</li>
					</ul>

				</div>

				<a href="http://eloplay.com"><div class="bottom-logo-eloplay"></div></a>
			</div>
	</div>
</body>
</html>
