<!DOCTYPE html>
<html>
<head>
	<title>Eloplay ICO</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="robots" content="index,follow"/>
	<link rel="icon" href="img/favicon.ico" type="image/ico" sizes="64x64">
	<link rel="manifest" href="/manifest.json">
	<meta http-equiv="refresh" content="3600"/>

	<link rel="canonical" href="https://ico.eloplay.com/en.html">
	<link rel="alternate" href="https://ico.eloplay.com/" hreflang="x-default">
	<link rel="alternate" hreflang="en" href="https://ico.eloplay.com/en.html">
	<link rel="alternate" hreflang="ru" href="https://ico.eloplay.com/">

	<meta name="description" content="The platform is created for players and organizations, who conduct Smart Tournaments on blockchain technology. Eloplay Token is the main driving force for the ecosystem and a unit of value for its holders.">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Eloplay esports platform Token sale.">
	<meta property="og:title" content="Eloplay ICO">
	<meta property="og:description" content="The platform is created for players and organizations, who conduct Smart Tournaments on blockchain technology. Eloplay Token is the main driving force for the ecosystem and a unit of value for its holders.">
	<meta property="og:url" content="https://ico.eloplay.com/en.html">
	<meta property="og:locale" content="ru">
	<meta property="og:image" content="https://ico.eloplay.com/img/logo-eloplay.svg">
	<meta property="og:image:width" content="145">
	<meta property="og:image:height" content="42">

    <meta property="og:see_also" content="https://eloplaycom.slack.com/"/>
    <meta property="og:see_also" content="https://t.me/eloplaycom_ico"/>
    <!--meta property="og:see_also" content="https://discord.gg/Crh26E"/-->
    <meta property="og:see_also" content="https://medium.com/@eloplaycom"/>
    <meta property="og:see_also" content="https://www.facebook.com/eloplaycom"/>
    <meta property="og:see_also" content="https://twitter.com/eloplaycom"/>
    <meta property="og:see_also" content="https://steemit.com/@eloplaycom"/>

	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="@eloplaycom"/>
	<meta name="twitter:description" content="The platform is created for players and organizations, who conduct Smart Tournaments on blockchain technology. Eloplay Token is the main driving force for the ecosystem and a unit of value for its holders."/>
	<meta name="twitter:title" content="Eloplay esports platform Token sale"/>
	<meta name="twitter:image" content="https://ico.eloplay.com/img/logo-eloplay.svg"/>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" />
	<link href="css/michalsnik/aos/2.1.1/dist/aos.min.css" rel="stylesheet">

	<link href="css/main.css?v=14" rel="stylesheet" />
	<link href="css/fonts.css?v=1" rel="stylesheet" />

<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TZL4XCM');
</script>
<!-- End Google Tag Manager -->

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105835460-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<!-- Facebook Pixel Code -->
<!--script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
// Insert Your Custom Audience Pixel ID below. 
fbq('init', '889685427848853');
fbq('track', 'PageView');
</script-->
<!-- End Facebook Pixel Code -->

</head>

<body ng-app="app">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZL4XCM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Facebook Pixel Code (noscript) -->
<!--noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=889685427848853&ev=PageView&noscript=1"
/></noscript-->
<!-- End Facebook Pixel Code (noscript) -->

	<div class="full-bg-p2" ng-controller="pageICO_Ctr">

		<div class="bg-sect-1">
			<div class="top-bar" ng-class="{'no-transparent': scrollPos > 150}" ng-cloak>
				<div class="container">
					<div class="box-logo">
						<a href="#main-screen"><div class="logo-eloplay"></div></a>
					</div>
					
					<div class="nav-links">
						<ul>
							<li><a href="https://eloplay.com/?utm_source=ico_landing" target="_blank">Eloplay.com</a></li>
							<li><a href="#team">Team</a></li>
							<li><a href="#tokensale" id="ex2">Token Sale</a></li>
							<li><a href="#docs">Documentation</a></li>
						</ul>
					</div>
					<div ng-init="current_lang='EN'">
						<div class="sel-lang lang-nav" uib-dropdown>
							<div uib-dropdown-toggle>
								<div class="icon-bg"></div>
								<span class="icon-lang"></span>
								<span ng-bind="current_lang"></span>
							</div>
							<div uib-dropdown-menu class="dropdown-menu">
								<ul>
									<a href="en.html"><li ng-click="current_lang='EN'">ENGLISH</li></a>
									<a href="index.html"><li ng-click="current_lang='РУС'">РУССКИЙ</li></a>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<button type="button" class="btn-nav" ng-init="is_btn_show=false" ng-click="is_btn_show=!is_btn_show">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="btn-nav-menu" ng-class="{'d-menu-show': is_btn_show}" ng-cloak>
					<ul>
						<a href="#team" ng-click="is_btn_show=false"><li>Team</li></a>
						<a href="#tokensale" id="ex1" ng-click="is_btn_show=false"><li>Token Sale</li></a>
						<a href="#docs" target="_blank" ng-click="is_btn_show=false"><li>Documentation</li></a>
					</ul>
				</div>
			</div>

			<div class="container" id="main-screen">
				<div class="sect-top">
					<div class="row indent-bottom">
						<div class="col-xs-12 col-sm-12 col-md-6 box-left padd-no">
							<p class="font-l-42" style="margin: 23px 0 27px;display: inline-block;">
							Eloplay esports platform
							Token sale
							</p>
							<p class="del-br-1200">
							The platform is created for players and organizations<br>
							who conduct Smart Tournaments on blockchain technology.<br>
							Eloplay Token is the main driving force for the ecosystem and a<br>
							unit of value for its holders.<br>
							</p>
							<div class="box-top-button">
								<!-- <div class="box-button-video">
									<a href="https://eloplay.com/about?utm_source=ico_landing" target="_blank" class="btn btn-br-line"><span class="icon-btn-play-video"></span><span>Смотреть видео</span></a>
								</div> -->
								<div class="box-button-readw">
									<a href="https://eloplay.github.io/docs/en/eloplay_whitepaper_en_1.pdf" target="_blank" class="btn btn-br-line"><i class="icon-arrow-down-circle"></i><span>Read Whitepaper</span></a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 box-right padd-no">
							<div class="box-time">
								<div class="hide-time">
									<p>
									Follow token sale news
									</p>
								</div>
								<div class="box-time-bg"></div>
								<a href="" class="btn btn-large-color-y"  data-toggle="modal" data-target="#subscriptionModal"><!-- <span class="icon-button"></span> --><span>Subscribe</span></a>
								<p class="time-title">Time left till token sale begins:</p>
								<ul id="timer">
									<li><span id="days"></span><p>days</p></li>
									<li><span id="hours"></span><p>hours</p></li>
									<li><span id="minutes"></span><p>minutes</p></li>
									<li><span id="seconds"></span><p>seconds</p></li>
								</ul>
							</div>
							<div class="box-in-social-p1">
								<ul class="in-social-p1">
									<li><a href="https://join.slack.com/t/eloplaycom/shared_invite/MjMzMDYwMzU1NTc0LTE1MDM3NTY0MTYtYTg5MmMxMGRlNQ" target="_blank"><div class="icon-social-slack"></div></a></li>
									<!--li><a href="https://t.me/eloplaycom_ico" target="_blank"><div class="icon-social-telegram"></div></a></li-->
									<li><a href="https://t.me/joinchat/EpNnZg6uThvYzkscpOmbkw" target="_blank"><div class="icon-social-telegram"></div></a></li>
									<!--li><a href="https://discord.gg/Crh26E" target="_blank"><div class="icon-social-discord"></div></a></li-->
									<li><a href="https://medium.com/@eloplaycom" target="_blank"><div class="icon-social-medium"></div></a></li>
									<li><a href="https://www.facebook.com/eloplaycom" target="_blank"><div class="icon-social-fb"></div></a></li>
									<li><a href="https://twitter.com/eloplaycom" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<!--li><a href="#" target="_blank"><i class="fa fa-weixin" aria-hidden="true"></i></a></li-->
									<li><a href="https://steemit.com/@eloplaycom" target="_blank"><div class="icon-social-steemit"></div></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-sect-2" id="token-desc">
			<div class="container">
				<p class="font-l-31 title-sect-2 del-br-470">
				Eloplay Token<br>
				allows its holders to
				</p>
				<div class="col-xs-12 col-sm-12 col-md-4 box-col-token" data-aos="zoom-in">
					<div class="sb-box-token">
						<p class="title-col">
						Organize<br>
						tournaments
						</p>
						<div class="img-col1-token"></div>
						<p>
						Tokens used as rewards<br> 
						for esports<br>
						Smart Tournaments
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 box-col-token" data-aos="zoom-in">
					<div class="sb-box-token">
						<p class="title-col">
						Place<br>
						ads
						</p>
						<div class="img-col2-token"></div>
						<p>
						Brands can offer<br>
						their goods and services<br>
						to esports audience<br>
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 box-col-token" data-aos="zoom-in">
					<div class="sb-box-token">
						<p class="title-col">
						Sell tokens<br>
						on the exchanges
						</p>
						<div class="img-col3-token"></div>
						<p>
						Token will be listed on stock exchange<br>
						and can be<br>
						sold immediately<br>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-sect-3" id="why-token">
			<p class="font-l-31 title-sect-2" data-aos="zoom-in">
			Prospects and<br>
			token demand
			</p>
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-6 perspective-pr" data-aos="zoom-in">
					<ul>
						<li>
							<p>Exclusive ownership</p>
							<p>
							Limited amount of tokens will cause ownership competition
							</p>
						</li>
						<li>
							<p>Entering new markets</p>
							<p>Project works in post-Soviet market. Attracted funds will allow Eloplay to enter the global market</p>
						</li>
						<li>
							<p>Adding new games</p>
							<p>Each new game added to the platform will increase the audience by millions of new players</p>
						</li>
						<li>
							<p>Advertisers attraction</p>
							<p>Growing number of brands interested in esports advertising</p>
						</li>
					</ul>
				</div>		
				<div class="col-xs-12 col-sm-12 col-md-6 col-medal" data-aos="zoom-in" data-aos-offset="400" data-aos-duration="1000">
					<center>
						<div class="img-medal"><img src="./img/img-medal.png" alt=""></div>
					</center>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="banner-link evro-ico-block" data-aos="zoom-in" data-aos-duration="1200">
				<span class="icon-evro"></span>
				<p>ICO token issuer: <a href="https://ariregister.rik.ee/ettevotja?id=9000191060&lang=eng" target="_blank">Qooors OÜ company</a>, incorporated in Estonia</p>
			</div>
		</div>

		<p class="font-l-31 title-sect-2" data-aos="zoom-in">
			Eloplay is a working platform<br> 
			ready for global breakthrough
		</p>

		<div class="bg-sect-31">
				<div class="fl-bg-mam"></div>
				<div class="container history-progect">
					<div class="box-item-hist">
						<div class="item-hist">							
							<div class="icon-hist-1"></div>
							<p>1,5</p>
							<p>Eloplay is<br>1,5 years old</p>
							<div class="bg-grad"></div>
						</div>
						<div class="item-hist">						
							<div class="icon-hist-2"></div>
							<p>90 000</p>
							<p>Registered<br>players</p>
							<div class="bg-grad"></div>
						</div>
						<div class="item-hist">	
							<div class="icon-hist-4"></div>								
							<p>$10 000</p>
							<p>Paid<br>rewards</p>
							<div class="bg-grad"></div>
						</div>
						<div class="item-hist">						
							<div class="icon-hist-3"></div>
							<p>3 500</p>
							<p>Completed<br>tournaments</p>
							<div class="bg-grad"></div>
						</div>
					</div>
				</div>
				<a class="btn btn-br-line sect-3" href="https://eloplay.com/?utm_source=ico_landing" target="_blank">
					Play on Eloplay
				</a>
		</div>

		<div class="bg-sect-32">
				<div class="container " data-aos="zoom-in">
					<p class="font-l-31 title-sect-2 del-br-992" data-aos="zoom-in">
					Esports is gaining<br>
					worldwide popularity
					</p>
					<div class="img-monitor">
						<video id="video" loop autobuffer autoplay playsinline webkit-playsinline >
							<source src="img/toptal-blog-image-1.m4v" />
							<source src="img/toptal-blog-image-1.mp4" type='video/mp4' />
							<source src="img/toptal-blog-image-1.webm" type='video/webm; codecs="vp8, vorbis"' />
						</video>
						<a class="link-guard" href="https://www.theguardian.com/sport/video/2017/jun/16/e-sports-the-digital-revolution-has-arrived-video" target="_blank">
							Source: The Guardian
						</a>
					</div>
					<!-- <a href="https://eloplay.com/?utm_source=ico_landing" target="_blank" class="btn btn-br-line sect-3"><span>ИгратьPlay on Eloplay</span></a> -->
				</div>
		</div>	

		<div class="bg-sect-4" id="market">
			<p class="font-l-31 title-sect-2" data-aos="zoom-in">
			Market and<br> 
			current esports challenges
			</p>
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-7 box-cont-left" data-aos="zoom-in" data-aos-delay="500">
					<ul>
						<li>
							<p>Esports market is booming</p>
							<p>The esports market is a 385,5 million people<br>global audience who spend $230 million a year.<br>The global esports awareness reached 1.3 billion people.</p>
						</li>
						<li>
							<p>Tournaments centralization</p>
							<p>The overall prize pool at major events<br>has reached $93.3 million in 2016.<br>They are funded by global brands.<br><br></p>
						</li>
						<li>
							<p>Major events are made for professional athletes</p>
							<p>There’s only a handful of elite players<br>that can compete for those prize pools.<br><br></p>
						</li>
						<li>
							<p>Smart Tournaments</p>
							<p>Blockchain based tournaments<br>will allow players to gather major prize pools<br>on their own</p>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5 box-img-right">
					<center>
						<div class="box-img-anime">
							<div  class="img-market-top" data-aos="fade-left" data-aos-duration="1200">
								<p>Professional<br>cybersportsmen</p>
							</div>
							<p class="img-market-center-txt" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="2000">
								385.5<br>millions
							</p>
							<div>
								<img class="img-market-1" data-aos="fade-up" data-aos-offset="200" data-aos-delay="600" src="./img/img-market-1_.png" alt="">
								<img class="img-market-2" data-aos="fade-left" data-aos-offset="200" data-aos-delay="1000" src="./img/img-market-3.png" alt="">
								<img class="img-market-3" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="1300" src="./img/img-market-2.png" alt="">
							</div>
							<div data-aos="fade-left" data-aos-delay="800" data-aos-duration="800">
								<p class="img-market-bottom-txt">Cybersport<br>audience</p>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>

		<div class="container indent-pl-50" id="cybersport" data-aos="zoom-in">
			<div class="banner-link"><img src="./img/icon-star-kiber.svg" alt="">
				<div>
					<p>Esports is the investment opportunity of the decade.</p>
					<a href="https://www.toptal.com/finance/market-research-analysts/esports" target="_blank">Josh Chapman article</a>
				</div>
			</div>
		</div>

		<div class="bg-white-center" id="tokensale">
			<div class="container">
				<p id="pay-token" class="font-l-42 title-pay-token" data-aos="zoom-in">
				Eloplay Token Sale
				</p>
				<div class="box-time-token">
					<div class="start-pay-token">
						<p>Begin: <span>09.10.2017</span></p>
						<p>(12:00 PM London Time, UTC+0)</p>
					</div>
					<div class="end-pay-token">
						<p>End: <span>06.11.2017</span></p>
						<p>(12:00 PM London Time, UTC+0)</p>
					</div>
				</div>
				<div class="line-time-token"></div>
				<div class="box-sub-line-time">
					<p>Begins in <span>31</span> days</p>
				</div>
				<div class="box-bonus">
					<p class="title-bonus">Bonuses:</p>
					<div class="col-xs-12 col-sm-6 col-md-3 item-bonus" data-aos="fade-right" data-aos-delay="800" data-aos-offset="300">
						<div class="box-20"><p>20%</p><p>bonuses</p></div>
						<div class="shadow"></div>
						<p>1st hour</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 item-bonus" data-aos="fade-right" data-aos-delay="500" data-aos-offset="300">
						<div class="box-15"><p>15%</p><p>bonuses</p></div>
						<div class="shadow"></div>
						<p>1st day</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 item-bonus" data-aos="fade-right" data-aos-delay="200" data-aos-offset="300">
						<div class="box-10"><p>10%</p><p>bonuses</p></div>
						<div class="shadow"></div>
						<p>1st week</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 item-bonus" data-aos="fade-right" data-aos-offset="300">
						<div class="box-5"><p>5%</p><p>bonuses</p></div>
						<div class="shadow"></div>
						<p>2nd week</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 text-token">
					<p>
						<span>Token Sale maximum cap:</span><br>$12,000,000<br>
						<span>Token Sale minimum target:</span><br>$3,000,000<br>
					</p>
					<p>
						<span>Currency accepted:</span>&nbsp; ETH, BTC<br>
						<span>Token exchange rate:</span> 1 ETH = 10,000 ELT<br>
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 text-token">
					<p>
						<span>Amount of tokens per one person:</span> unlimited<br>
						<span>Maximum transaction amount:</span> unlimited<br>
						<span>Minimum transaction amount:</span> 0.1 ETH<br>
					</p>
				</div>

				<p class="col-md-12 font-l-35 distribution-token">
					<br><br>Eloplay Token Distribution
				</p>
				<div class="col-md-12 row-tokens">
					<div class="item-distribution-token" data-aos="fade-left" data-aos-offset="300">
						<div class="distribution-80"><p>80%</p><p class="txt-caps">Token Sale</p></div>
					</div>
					<div class="item-distribution-token" data-aos="fade-left" data-aos-delay="200" data-aos-offset="300">
						<div class="distribution-10"><p>10%</p><p class="txt-caps">Team</p></div>
					</div>
					<div class="item-distribution-token" data-aos="fade-left" data-aos-delay="400" data-aos-offset="300">
						<div class="distribution-5"><p>5%</p><p class="txt-caps">Advisory<br /> board</p></div>
					</div>
					<div class="item-distribution-token" data-aos="fade-left" data-aos-delay="600" data-aos-offset="300">
						<div class="distribution-3"><p>3%</p><p class="txt-caps">Bounty<br>program</p></div>
					</div>
					<div class="item-distribution-token" data-aos="fade-left" data-aos-delay="800" data-aos-offset="300">
						<div class="distribution-2"><p>2%</p><p class="txt-caps">Long-term<br>bonus<br>fund<br></p>
						<!-- 	<p class="txt-info txt-caps">info+<br>tournaments</p> -->
						</div>
					</div>
				</div>
			</div>
			<!--a class="btn btn-large-color-y" href="#docs">Eloplay Roadmap</a-->
		</div>

		<div class="container command" data-aos="fade-down" data-aos-delay="800" data-aos-offset="300">
			<p class="font-l-42 title-command" id="team">Eloplay Team</p>

			<div class="box-item-command show-mobil" ng-cloak>
				<div class="slick-command">
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/vitalybalakhonov" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/vbalakhonov.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Vitaly Balakhonov</p>
								<p>СЕО</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/imyfix" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/yvysotskiy.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Yuri Vysotskiy</p>
								<p>СТО</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/dmytro-salnikov-55a051147" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/dsalnikov.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Dmytro Salnikov</p>
								<p>CIO, Founder</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/nirasaf/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/nirasaf.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Nir Asaf</p>
								<p>Marketing and Community</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="#" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/vpopov.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Vladymir Popov</p>
								<p>Media Advisor</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/sergeymushta" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/smushta.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Sergey Mushta</p>
								<p>Solidity and Fullstack Developer<br></p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/imyyv" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/yyakovenko.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Yaroslav Yakovenko</p>
								<p>Fullstack Developer<br></p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/sergeykorzhikov" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/skorzhikov.jpg?v=3" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Sergey Korzhikov</p>
								<p>Fullstack Developer<br></p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/larvs" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/alezhenko.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Aleksandr Lezhenko</p>
								<p>Senior Fullstack Developer<br></p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/pavel-zakhovalko-408200139" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/pzakhovalko.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Pavel Zakhovalko</p>
								<p>Fullstack Developer<br></p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<!--							<a href="https://linkedin.com/in/">-->
							<div class="command-photo">
								<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
								<img class="img-responsive" src="img/team/apashchenko.jpg" alt="">
							</div>
							<!--							</a>-->
							<div class="box-text-info no-line">
								<p>Andrey Pashchenko</p>
								<p>Frontend Developer<br></p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/viktoriia-moskalenko-b758a014a" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/vmoskalenko.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Victoria Moskalenko</p>
								<p>Human Resources<br></p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/dmitriy-makushin-9b08a014a" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/dmakushin.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Dmitriy Makushin</p>
								<p>Frontend Developer<br></p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/oleksandr-svyrydovskyi-8288a014a" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/osviridovskiy.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Oleksandr Sviridovskiy</p>
								<p>Quality Assurance<br></p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/valeria-arsjuta-15b8a514a/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/varsjuta.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Valeria Arsjuta</p>
								<p>Legal Advisor</p>
							</div>
						</div>
					</div>
				</div>
				<div class="command-control-container">
					<!-- <div class="command-class-dots"></div> -->
					<div class="command-class-arrow"></div>
				</div>
			</div>

			<div class="box-item-command show-desktop">
				<div class="item-command">
					<a href="https://linkedin.com/in/vitalybalakhonov" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/vbalakhonov.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Vitaly Balakhonov</p>
						<p>СЕО</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/imyfix" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/yvysotskiy.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Yuri Vysotskiy</p>
						<p>СТО</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/dmytro-salnikov-55a051147" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/dsalnikov.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Dmytro Salnikov</p>
						<p>CIO, Founder</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/nirasaf/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/nirasaf.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Nir Asaf</p>
						<p>Marketing and Community</p>
					</div>
				</div>
				<div class="item-command">
					<a href="#" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/vpopov.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Vladymir Popov</p>
						<p>Media Advisor</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/sergeymushta" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/smushta.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Sergey Mushta</p>
						<p>Solidity and Fullstack Developer<br></p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/imyyv" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/yyakovenko.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Yaroslav Yakovenko</p>
						<p>Fullstack Developer<br></p>
					</div>
				</div>						
				<div class="item-command">
					<a href="https://linkedin.com/in/sergeykorzhikov" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/skorzhikov.jpg?v=3" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Sergey Korzhikov</p>
						<p>Fullstack Developer<br></p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/larvs" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/alezhenko.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Aleksandr Lezhenko</p>
						<p>Senior Fullstack Developer<br></p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/pavel-zakhovalko-408200139" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/pzakhovalko.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Pavel Zakhovalko</p>
						<p>Fullstack Developer<br></p>
					</div>
				</div>
				<div class="item-command">
					<!--							<a href="https://linkedin.com/in/">-->
					<div class="command-photo">
						<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						<img class="img-responsive" src="img/team/apashchenko.jpg" alt="">
					</div>
					<!--							</a>-->
					<div class="box-text-info no-line">
						<p>Andrey Pashchenko</p>
						<p>Frontend Developer<br></p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/viktoriia-moskalenko-b758a014a" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/vmoskalenko.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Victoria Moskalenko</p>
						<p>Human Resources<br></p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/dmitriy-makushin-9b08a014a" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/dmakushin.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Dmitriy Makushin</p>
						<p>Frontend Developer<br></p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/oleksandr-svyrydovskyi-8288a014a" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/osviridovskiy.jpg" alt="">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Oleksandr Sviridovskiy</p>
						<p>Quality Assurance<br></p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/valeria-arsjuta-15b8a514a/" target="_blank">
					<div class="command-photo">
						<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						<img class="img-responsive" src="img/team/varsjuta.jpg" alt="">
					</div>
					</a>
					<div class="box-text-info no-line">
						<p>Valeria Arsjuta</p>
						<p>Legal Advisor</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container command">
			<p class="font-l-42 title-command" id="advisors" data-aos="fade-down" data-aos-delay="400" data-aos-offset="300">Eloplay Advisors</p>
			<div class="box-item-command show-mobil" ng-cloak>
				<div class="slick-advisors">
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/andrei-veressov-b535ba21" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/averesov.jpg" alt="">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Andrei Veresov</p>
								<p>Legal Advisor</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/norbert-radoki-366447133/" target="_blank">
							<div class="command-photo">
								<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
								<img class="img-responsive" src="img/team/norbert-radoki.jpg" alt="">
							</div>
							</a>
							<div class="box-text-info no-line">
								<p>Norbert Radoki</p>
								<p>Media Advisor<br>CEO Bitcoinist.com</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/ivo-georgiev-8298b678/" target="_blank">
							<div class="command-photo">
								<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
								<img class="img-responsive" src="img/team/ivo-georgiev.jpg" alt="">
							</div>
							</a>
							<div class="box-text-info no-line">
								<p>Ivo Georgiev</p>
								<p>Advertising advisor<br>CEO adex.network</p>
							</div>
						</div>
					</div>
				</div>
				<div class="command-control-container">
					<!-- <div class="command-class-dots"></div> -->
					<div class="advisors-class-arrow"></div>
				</div>
			</div>

			<div class="box-item-command show-desktop">
				<div class="item-command">
					<a href="https://www.linkedin.com/in/andrei-veressov-b535ba21/" target="_blank">
					<div class="command-photo">
						<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						<img class="img-responsive" src="img/team/averesov.jpg" alt="">
					</div>
					</a>
					<div class="box-text-info no-line">
						<p>Andrei Veresov</p>
						<p>Legal Advisor</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/norbert-radoki-366447133/" target="_blank">
					<div class="command-photo">
						<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						<img class="img-responsive" src="img/team/norbert-radoki.jpg" alt="">
					</div>
					</a>
					<div class="box-text-info no-line">
						<p>Norbert Radoki</p>
						<p>Media Advisor<br>CEO Bitcoinist.com</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/ivo-georgiev-8298b678/" target="_blank">
					<div class="command-photo">
						<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						<img class="img-responsive" src="img/team/ivo-georgiev.jpg" alt="">
					</div>
					</a>
					<div class="box-text-info no-line">
						<p>Ivo Georgiev</p>
						<p>Advertising advisor<br>CEO adex.network</p>
					</div>
				</div>
			</div>
		</div>
			
		<div class="bg-in-media" id="docs">
			<div class="container">
				<p class="font-l-42 title-pay-token">Documents</p>
				<!-- карусель Eloplay в медиа -->
				<div class="in-media" ng-cloak>
					<div>
						<a href="https://eloplay.github.io/docs/en/eloplay_overview_en_1.pdf" target="_blank" class="item-in-media">
							<div class="header"><p>Presentation</p></div>
							<div class="in-media-content">
								<p class="format-doc">Pdf</p>
								<div class="read"><span>Download</span><i class="icon-arrow-down-circle"></i></div>
							</div>
						</a>
					</div>
					<div>
						<a href="https://eloplay.github.io/docs/en/eloplay_whitepaper_en_1.pdf" target="_blank" class="item-in-media">
							<div class="header"><p>Whitepaper</p></div>
							<div class="in-media-content">
								<p class="format-doc">Pdf</p>
								<div class="read"><span>Download</span><i class="icon-arrow-down-circle"></i></div>
							</div>
						</a>
					</div>
					<div>
						<a href="https://eloplay.github.io/docs/en/eloplay_roadmap_en_1.pdf" target="_blank" class="item-in-media">
							<div class="header"><p>Roadmap</p></div>
							<div class="in-media-content">
								<p class="format-doc">Pdf</p>
								<div class="read"><span>Download</span><i class="icon-arrow-down-circle"></i></div>
							</div>
						</a>
					</div>
					<div>
						<a href="https://eloplay.github.io/docs/en/eloplay_arch_en_1.pdf" target="_blank" class="item-in-media">
							<div class="header duble-line"><p>Platform<br>architecture</p></div>
							<div class="in-media-content">
								<p class="format-doc">Pdf</p>
								<div class="read"><span>Download</span><i class="icon-arrow-down-circle"></i></div>
							</div>
						</a>
					</div>
				</div>
				<center class="visible-xs visible-sm">
					<div class="sl-control-container">
						<div class="sl-class-dots"></div>
						<div class="sl-class-arrow"></div>
					</div>
				</center>
				<!-- END карусель ELoplay в медиа -->
			</div>
		</div>

		<div class="sect-footer" id="media">
			<div class="container">
			<p class="font-l-42 title-pairs">Eloplay in Media</p>
			<div class="elo-in-media">
				<a href="https://vc.ru/p/eloplay" target="_blank" class="item-media-vc">
					<img src="img/icon-partn-1.png" alt="">
				</a>
				<a href="http://playua.net/eloplay-com-spravzhnij-kibersport-u-tebe-vdoma/" target="_blank" class="item-media-playua">
					<img src="img/icon-partn-2.png" alt="">
				</a>
				<a href="https://www.artlebedev.ru/eloplay/" target="_blank" class="item-media-lebedev">
					<img src="img/icon-partn-5.svg" alt="">
				</a>
				<a href="http://www.opengamer.com.ua/esportconf-ukraine-2017-zvit/" target="_blank" class="item-media-openg">
					<img src="img/icon-partn-3.png" alt="">
				</a>
				<a href="http://shpil.com/2016/12/arena-eloplay-put-k-uspeshnomu-kibersportivnomu-budushhemu/" target="_blank" class="item-media-shpil">
					<img src="img/icon-partn-4.svg" alt="">
				</a>
			</div>
				<p class="font-l-42 title-pairs top-indent">Eloplay Partners</p>
				<div class="box-pairs">
					<a href="http://forklog.consulting/" target="_blank" class="items-pairs">
						<img class="icon-forklog" src="./img/forklog.png" alt="">
					</a>
					<a href="http://brightlaw.ee/en/team/" target="_blank" class="items-pairs">
						<img class="icon-bright" src="./img/icon-bright.svg" alt="">
					</a>
					<a href="http://itsynergis.ru/" target="_blank" class="items-pairs">
						<img class="icon-synergis" src="./img/icon-synergis.png" alt="">
					</a>
				</div>
			</div>
			<div class="box-bottom">
				<div class="container">
					<ul class="in-social-networks no-bord">
						<li><a href="https://join.slack.com/t/eloplaycom/shared_invite/MjMzMDYwMzU1NTc0LTE1MDM3NTY0MTYtYTg5MmMxMGRlNQ" target="_blank"><div class="icon-social-slack"></div></a></li>
						<!--li><a href="https://t.me/eloplaycom_ico" target="_blank"><div class="icon-social-telegram"></div></a></li-->
						<li><a href="https://t.me/joinchat/EpNnZg6uThvYzkscpOmbkw" target="_blank"><div class="icon-social-telegram"></div></a></li>
						<!--li><a href="https://discord.gg/Crh26E" target="_blank"><div class="icon-social-discord"></div></a></li-->
						<li><a href="https://medium.com/@eloplaycom" target="_blank"><div class="icon-social-medium"></div></a></li>
						<li><a href="https://www.facebook.com/eloplaycom" target="_blank"><div class="icon-social-fb"></div></a></li>
						<li><a href="https://twitter.com/eloplaycom" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<!--li><a href="#" target="_blank"><i class="fa fa-weixin" aria-hidden="true"></i></a></li-->
						<li><a href="https://steemit.com/@eloplaycom" target="_blank"><div class="icon-social-steemit"></div></a></li>
					</ul>
					<a class="bottom-logo" href="#main-screen"><img src="./img/logo-eloplay.svg" alt=""></a>
				</div>
			</div>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscribeNews" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">Follow token sale news</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="close-sign" aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="box-input-mail">
						<form id="subscribeNews" class="form-group input-mail" action="https://app.getresponse.com/add_subscriber.html" method="post" accept-charset="utf-8" name="reg_form" novalidate>
							<input type="email" name="email" class="form-control st-placeh" placeholder="Enter your E-mail" id="send-mail" maxlength="50" ng-class = "{ 'input-error-mail-top': reg_form.email.$error.required && reg_form.email.$touched || !reg_form.email.$error.required && reg_form.email.$touched && !reg_form.email.$valid || reg_form.email.$dirty && reg_form.email.$error.pattern, 'input-error-mail-bottom': !reg_form.password.$valid && reg_form.password.$touched && !reg_form.password.$error.minlength || reg_form.password.$error.minlength && reg_form.password.$touched }" type="email" name="email" ng-model="register.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required ng-keyup="$event.keyCode == 13 && do_register()" autocomplete="off" />
							<div class="error_message" ng-show = "reg_form.email.$error.required && reg_form.email.$touched">Enter E-mail</div>
							<div class="error_message" ng-show = "reg_form.email.$dirty && reg_form.email.$error.pattern">E-mail format: mymail@doman.com</div>
							<input id="check1" type="checkbox" checked name="tockensale_start" value="tockensale_start">							
							<label for="check1" class="label-checkbox del-br-470">Tell me about token sale start<br>with browser push notification</label>
							<input type="hidden" name="campaign_token" value="nTjtu" />
							<input type="checkbox" checked name="calendar_event" value="calendar_event" id="calendar_event">
							<label for="calendar_event" class="label-checkbox">Add event to calendar</label>
						</form>
					</div>
				</div>
				<div class="modal-footer box-time">
					<button type="button" class="btn btn-large-color" id="subscribeBtn" ng-disabled = "!reg_form.$valid" ><span>Subscribe</span></button>
				</div>
			</div>
		</div>
	</div>

	<script data-cfasync="true" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script data-cfasync="true" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script data-cfasync="true" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script data-cfasync="true" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
	<script data-cfasync="true" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
	<script data-cfasync="true" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script data-cfasync="true" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
	<script data-cfasync="true" src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>  
	<script data-cfasync="true" src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script> 

	<script data-cfasync="true" src="js/isInViewport.min.js"></script> 
	<script data-cfasync="true" src="js/michalsnik/aos/2.1.1/dist/aos.min.js"></script>
	<script data-cfasync="true" src="js/sciactive/pnotify/3.2.1/dist/pnotify.min.js"></script>  
	<script data-cfasync="true" src="js/moment/moment/2.18.1/min/moment.min.js"></script>
	<!--script data-cfasync="true" src="js/moment/moment/2.18.1/locale/ru.js"></script-->

	<script data-cfasync="true" src="js/push_message.js"></script>
	<script data-cfasync="true" src="js/gapi_calendar.js"></script>
	<script data-cfasync="true" src="js/main.js?v=14"></script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','ny45c');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

</body>
</html>
