<!DOCTYPE html>
<html>
<head>
	<title>Eloplay ICO</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="robots" content="index,follow"/>
	<link rel="icon" href="img/favicon.ico" type="image/ico" sizes="64x64">
	<link rel="manifest" href="/manifest.json">
	<meta http-equiv="refresh" content="3600"/>

	<link rel="canonical" href="https://ico.eloplay.com/zh.html">
	<link rel="alternate" href="https://ico.eloplay.com/" hreflang="x-default">
	<link rel="alternate" hreflang="en" href="https://ico.eloplay.com/en.html">
	<link rel="alternate" hreflang="es" href="https://ico.eloplay.com/es.html">
	<link rel="alternate" hreflang="ko" href="https://ico.eloplay.com/ko.html">
	<link rel="alternate" hreflang="zh" href="https://ico.eloplay.com/zh.html">
	<link rel="alternate" hreflang="ru" href="https://ico.eloplay.com/ru.html">
	

	<meta name="description" content="此平台为基于区块链技术开展, 智能锦标赛的玩家和组织创建。. Eloplay 代币是生态系统的主要推动力， 也是其持有者的价值单位。.">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Eloplay 电子竞技平台 代币发售">
	<meta property="og:title" content="Eloplay ICO">
	<meta property="og:description" content="此平台为基于区块链技术开展, 智能锦标赛的玩家和组织创建。. Eloplay 代币是生态系统的主要推动力， 也是其持有者的价值单位。.">
	<meta property="og:url" content="https://ico.eloplay.com/zh.html">
	<meta property="og:locale" content="zh">
	<meta property="og:image" content="https://ico.eloplay.com/img/logo-eloplay.svg">
	<meta property="og:image:width" content="145">
	<meta property="og:image:height" content="42">

    <meta property="og:see_also" content="https://eloplaycom.slack.com/"/>
    <meta property="og:see_also" content="https://t.me/eloplaycom_ico"/>
    <!--meta property="og:see_also" content="https://discord.gg/Crh26E"/-->
    <meta property="og:see_also" content="https://medium.com/@eloplaycom"/>
    <meta property="og:see_also" content="https://www.facebook.com/eloplaycom"/>
    <meta property="og:see_also" content="https://twitter.com/eloplaycom"/>
    <meta property="og:see_also" content="https://steemit.com/@eloplaycom"/>

	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="@eloplaycom"/>
	<meta name="twitter:description" content="此平台为基于区块链技术开展, 智能锦标赛的玩家和组织创建。. Eloplay 代币是生态系统的主要推动力， 也是其持有者的价值单位。."/>
	<meta name="twitter:title" content="Eloplay 电子竞技平台 代币发售"/>
	<meta name="twitter:image" content="https://ico.eloplay.com/img/logo-eloplay.svg"/>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" />
	<link href="css/michalsnik/aos/2.1.1/dist/aos.min.css" rel="stylesheet">

	<link href="css/main.css?v=1506432653" rel="stylesheet" />
	<link href="css/fonts.css?v=1505902222" rel="stylesheet" />

<!-- autodetect lang -->
<script>
//var langs  = ['ru','en','es','ko','pt','zh','de','ja'];
var langs  = ['ru','en','es','ko','zh'];
var savedLang = sessionStorage.getItem('savedLang');
var currentUrl =  window.location.pathname;
var currentLang  = currentUrl.substring(1, 3);
//if((savedLang == null) || (savedLang != null && (currentLang != '' || langs.indexOf(currentLang) != -1 ) && savedLang != currentLang)){
if(savedLang == null){
	var userLang = navigator.browserLanguage || navigator.language || navigator.userLanguage;
	userLang = userLang.split('-');
	userLang = userLang[0];
	if(langs.indexOf(userLang) == -1){
		userLang = userLang == 'uk' ? 'ru' : 'en';
	}
	sessionStorage.setItem('savedLang', userLang);
	if(userLang != currentLang){
		window.location = '/'+userLang+'.html'+window.location.hash;
	}
}
</script>
<!-- End autodetect lang -->

<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TZL4XCM');
</script>
<!-- End Google Tag Manager -->


<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105835460-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


</head>

<body ng-app="app" class="lang-zh" style="background: #0c0007;">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZL4XCM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


	<div class="full-bg-p2" ng-controller="pageICO_Ctr">

		<div class="bg-sect-1">
			<div class="top-bar" ng-class="{'no-transparent': scrollPos > 150}" ng-cloak>
				<div class="container">
					<div class="box-logo">
						<a href="#main-screen"><div class="logo-eloplay"></div></a>
					</div>
					
					<div class="nav-links">
						<ul>
							<li><a href="https://eloplay.com/en/?utm_source=ico_landing" target="_blank">Eloplay.com</a></li>
							<!--li><a href="#faq">FAQ</a></li-->
							<li><a href="https://eloplay.com/en/blog" target="_blank"></a></li>
							<li><a href="#team">团队</a></li>
							<li><a href="#tokensale" id="ex2">代币发售</a></li>
							<li><a href="#docs">Documentation</a></li>
							<li><a href="https://eloplay.github.io/docs/en/eloplay_whitepaper_en_1.pdf" target="_blank">Whitepaper</a></li>
						</ul>
					</div>
					<div ng-init="current_lang='中国'">
						<div class="sel-lang lang-nav" uib-dropdown>
							<div uib-dropdown-toggle>
								<div class="icon-bg"></div>
								<span class="icon-lang"></span>
								<span ng-bind="current_lang"></span>
							</div>
							<div uib-dropdown-menu class="dropdown-menu">
								<ul>
									<a href="en.html"><li ng-click="current_lang='EN'">ENGLISH</li></a>
									<a href="es.html"><li ng-click="current_lang='ES'">ESPAÑOL</li></a>
									<a href="zh.html"><li ng-click="current_lang='中国'">中国</li></a>
									<a href="ko.html"><li ng-click="current_lang='한국'">한국</li></a>
									<a href="index.html"><li ng-click="current_lang='РУС'">РУССКИЙ</li></a>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<button type="button" class="btn-nav" ng-init="is_btn_show=false" ng-click="is_btn_show=!is_btn_show">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="btn-nav-menu" ng-class="{'d-menu-show': is_btn_show}" ng-cloak>
					<ul>
						<!--a href="#faq" ng-click="is_btn_show=false"><li>FAQ</li></a-->
						<a href="#team" ng-click="is_btn_show=false"><li>团队</li></a>
						<a href="#tokensale" id="ex1" ng-click="is_btn_show=false"><li>代币发售</li></a>
						<a href="#docs" ng-click="is_btn_show=false"><li>Documentation</li></a>
						<a href="https://eloplay.github.io/docs/en/eloplay_whitepaper_en_1.pdf" target="_blank"><li>Whitepaper</li></a>
					</ul>
				</div>
			</div>

			<div class="container" id="main-screen">
				<div class="sect-top">
					<div class="row indent-bottom">
						<div class="col-xs-12 col-sm-12 col-md-6 box-left padd-no">
						<p class="font-l-35" style="margin: 23px 0 0px;display: inline-block;     ">
								Smart Tournaments<br>for Players and Brands							</p>
								<p style="    border-bottom: 1px solid #f27022; padding-bottom: 20px; max-width: 380px; color: rgba(255, 255, 255, 0.6);" class="   del-br-1200">
										The Decentralized Platform<br>for Gamers and Brands							</p>
							<div class="box-top-button">
								<!-- <div class="box-button-video">
									<a href="https://eloplay.com/about?utm_source=ico_landing" target="_blank" class="btn btn-br-line"><span class="icon-btn-play-video"></span><span>Смотреть видео</span></a>
								</div> -->
							</div>
								<div class="box-time">
								<p class="time-title">Token sale start in:</p>
								<ul id="timer" >
									<li><span id="days"></span><p style="    margin-top: 5px;">days</p></li>
									<li><span id="hours"></span><p style="    margin-top: 5px;">hours</p></li>
									<li><span id="minutes"></span><p style="    margin-top: 5px;">minutes</p></li>
									<li><span id="seconds"></span><p style="    margin-top: 5px;">seconds</p></li>
								</ul>
								<div class="box-button-readw">
									<a style="" href="#" data-toggle="modal" data-target="#presaleModal" class="btn btn-large-color-y" target="_blank"><span>contribute first. join order book</span></a>
								</div>
							</div>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 box-right padd-no">
							<div class="img-monitor">
															<video width="640" height="360" style="" id="video2" loop autobuffer autoplay playsinline webkit-playsinline >
									<source src="img/toptal-blog-image-1.m4v" />
									<source src="img/toptal-blog-image-1.mp4" type='video/mp4' />
									<source src="img/toptal-blog-image-1.webm" type='video/webm; codecs="vp8, vorbis"' />
								</video>
															<a style="" href="#" target="_blank" class="btn btn-br-line" data-toggle="modal" data-target="#subscriptionModal"><span style="vertical-align: unset;">Subscribe to token sale news</span></a>
							</div>

							<div class="box-in-social-p1">
								<ul class="in-social-p1">
										<li><a href="https://t.me/joinchat/EpNnZg6uThvYzkscpOmbkw" target="_blank"><div class="icon-social-telegram"></div></a></li>

											<li><a href="https://medium.com/@eloplaycom" target="_blank"><div class="icon-social-medium"></div></a></li>

											<li><a href="https://www.facebook.com/eloplaycom" target="_blank"><div class="icon-social-fb"></div></a></li>

											<li><a href="https://twitter.com/eloplaycom" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

											<li><a href="https://steemit.com/@eloplaycom" target="_blank"><div class="icon-social-steemit"></div></a></li>

									</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-sect-2" id="token-desc">
			<div class="container">
				<p class="font-l-31 title-sect-2 del-br-470">
					Eloplay 代币<br>允许其持有者				</p>
				<div class="col-xs-12 col-sm-12 col-md-4 box-col-token" data-aos="zoom-in">
					<div class="sb-box-token">
						<p class="title-col">
							组织比赛						</p>
						<div class="img-col1-token"></div>
						<p> 
							将代币用作电子竞技<br>智能锦标赛的奖金						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 box-col-token" data-aos="zoom-in">
					<div class="sb-box-token">
						<p class="title-col">
							投放广告						</p>
						<div class="img-col2-token"></div>
						<p>
							品牌可以向电子竞技观众提供其<br>产品和服务 <br>
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 box-col-token" data-aos="zoom-in">
					<div class="sb-box-token">
						<p class="title-col">
							在交易所销售代币						</p>
						<div class="img-col3-token"></div>
						<p>
							代币将在证券交易所上列出<br>并且可以立即出售<br>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-sect-3" id="why-token">
		<p class="font-l-31 title-sect-2 " data-aos="zoom-in">
				前景和代币需求			</p>
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-6 perspective-pr" data-aos="zoom-in">
					<ul>
						<li>
							<p>专属所有权</p>
							<p>有限数量的代币将引发所有权竞争</p>
						</li>
						<li>
							<p>进入新市场</p>
							<p>项目在后苏联市场中运作。吸引到的资金将使 Eloplay 进入全球市场</p>
						</li>
						<li>
							<p>添加新游戏</p>
							<p>添加到平台的每款新游戏都将借助数百万新玩家的加入来扩大观众规模</p>
						</li>
						<li>
							<p>对广告商的吸引力</p>
							<p>越来越多的品牌对电子竞技广告感兴趣</p>
						</li>
					</ul>
				</div>		
				<div class="col-xs-12 col-sm-12 col-md-6 col-medal" data-aos="zoom-in" data-aos-offset="400" data-aos-duration="1000">
					<center>
						<div class="img-medal"><img src="./img/img-medal.png" alt=""></div>
					</center>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="banner-link evro-ico-block" data-aos="zoom-in" data-aos-duration="1200">
				<span class="icon-evro"></span>
				<p>ICO 代币发行者: <a href="https://ariregister.rik.ee/ettevotja?id=9000191060&lang=eng" target="_blank">Qooors OU 公司</a>, 在爱沙尼亚注册</p>
			</div>
		</div>

		<p class="font-l-31 title-sect-2" data-aos="zoom-in">
			Eloplay 是一个为全球突破<br>作好准备的工作平台		</p>

		<div class="bg-sect-31">
				<div class="fl-bg-mam"></div>
				<div class="container history-progect">
					<div class="box-item-hist">
						<div class="item-hist">							
							<div class="icon-hist-1"></div>
							<p>1,5</p>
							<p>Eloplay 已创建<br>一年半</p>
							<div class="bg-grad"></div>
						</div>
						<div class="item-hist">						
							<div class="icon-hist-2"></div>
							<p>90 000</p>
							<p>注册玩家</p>
							<div class="bg-grad"></div>
						</div>
						<div class="item-hist">	
							<div class="icon-hist-4"></div>								
							<p>$10 000</p>
							<p>Paid<br>rewards</p>
							<div class="bg-grad"></div>
						</div>
						<div class="item-hist">						
							<div class="icon-hist-3"></div>
							<p>3 500</p>
							<p>已完成锦标赛</p>
							<div class="bg-grad"></div>
						</div>
					</div>
				</div>
				<a class="btn btn-br-line sect-3" href="https://eloplay.com/?utm_source=ico_landing" target="_blank">
					在 Eloplay 上游戏				</a>
		</div>

		<div class="bg-sect-32">
				<div class="container " data-aos="zoom-in">
					<p class="font-l-31 title-sect-2 del-br-992" data-aos="zoom-in">
						电子竞技正在全世界范围内流行					</p>
					<div class="img-monitor">
						<video id="video" loop autobuffer autoplay playsinline webkit-playsinline >
							<source src="img/toptal-blog-image-1.m4v" />
							<source src="img/toptal-blog-image-1.mp4" type='video/mp4' />
							<source src="img/toptal-blog-image-1.webm" type='video/webm; codecs="vp8, vorbis"' />
						</video>
						<a class="link-guard" href="https://www.theguardian.com/sport/video/2017/jun/16/e-sports-the-digital-revolution-has-arrived-video" target="_blank">
							来源：The Guardian						</a>
					</div>
					<!-- <a href="https://eloplay.com/?utm_source=ico_landing" target="_blank" class="btn btn-br-line sect-3"><span>ИгратьPlay on Eloplay</span></a> -->
				</div>
		</div>	

		<div class="bg-sect-4" id="market">
			<p class="font-l-31 title-sect-2" data-aos="zoom-in">
				市场和 目前的电子竞技挑战			</p>
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-7 box-cont-left" data-aos="zoom-in" data-aos-delay="500">
					<ul>
						<li>
							<p>电子竞技市场正在爆发。</p>
							<p>电子竞技市场拥有 3.855 亿全球观众，<br>每年消费金额可达 2.3 亿美元。<br><br></p>
						</li>
						<li>
							<p>锦标赛中心化</p>
							<p>大型赛事的总奖池<br>在 2016 年已达到 9330 万美元。<br>这些资金由全球品牌提供。<br><br></p>
						</li>
						<li>
							<p>大型赛事为职业运动员举办</p>
							<p>只有少数精英玩家<br>可以角逐这些奖池。<br><br></p>
						</li>
						<li>
							<p>智能锦标赛</p>
							<p>基于区块链的锦标赛<br>将允许玩家自行汇集<br>主要奖池</p>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5 box-img-right">
					<center>
						<div class="box-img-anime">
							<div  class="img-market-top" data-aos="fade-left" data-aos-duration="1200">
								<p>Professional<br>athlete</p>
							</div>
							<p class="img-market-center-txt" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="2000">
								385.5<br>millions							</p>
							<div>
								<img class="img-market-1" data-aos="fade-up" data-aos-offset="200" data-aos-delay="600" src="./img/img-market-1_.png" alt="">
								<img class="img-market-2" data-aos="fade-left" data-aos-offset="200" data-aos-delay="1000" src="./img/img-market-3.png" alt="">
								<img class="img-market-3" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="1300" src="./img/img-market-2.png" alt="">
							</div>
							<div data-aos="fade-left" data-aos-delay="800" data-aos-duration="800">
								<p class="img-market-bottom-txt">Cybersport<br>audience</p>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>

		<div class="container indent-pl-50" id="cybersport" data-aos="zoom-in">
			<div class="banner-link"><img src="./img/icon-star-kiber.svg" alt="">
				<div>
					<p>电子竞技是过去十年的最佳投资机会。</p>
					<a href="https://www.toptal.com/finance/market-research-analysts/esports" target="_blank">Josh Chapman 文章</a>
				</div>
			</div>
		</div>

		<div class="bg-white-center" id="tokensale">
			<div class="container">
				<p id="pay-token" class="font-l-42 title-pay-token" data-aos="zoom-in">
					Eloplay 代币发售				</p>
				<div class="box-time-token">
					<div class="start-pay-token">
						<p>Start: <span>16.10.2017</span></p>
						<p>(12:00 PM London Time, UTC+0)</p>
					</div>
					<div class="end-pay-token">
						<p>End: <span>15.11.2017</span></p>
						<p>(12:00 PM London Time, UTC+0)</p>
					</div>
				</div>
				<div class="line-time-token"></div>
<!--
				<div class="box-sub-line-time">
					<p>Begins in <span>31</span> days</p>
				</div>
-->
				<div class="box-bonus">
					<p class="title-bonus">奖金:</p>
					<div class="col-xs-12 col-sm-6 col-md-3 item-bonus" data-aos="fade-right" data-aos-delay="800" data-aos-offset="300">
						<div class="box-20"><p>20%</p><p>奖金</p></div>
						<div class="shadow"></div>
						<p>1st hour</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 item-bonus" data-aos="fade-right" data-aos-delay="500" data-aos-offset="300">
						<div class="box-15"><p>15%</p><p>奖金</p></div>
						<div class="shadow"></div>
						<p>1st day</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 item-bonus" data-aos="fade-right" data-aos-delay="200" data-aos-offset="300">
						<div class="box-10"><p>10%</p><p>奖金</p></div>
						<div class="shadow"></div>
						<p>1st week</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 item-bonus" data-aos="fade-right" data-aos-offset="300">
						<div class="box-5"><p>5%</p><p>奖金</p></div>
						<div class="shadow"></div>
						<p>2nd week</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 text-token">
					<p>
						<b>代币发售最大容量:</b><br>$12,000,000<br>
						<b>代币发售最小目标:</b><br>$3,000,000<br>
					</p>
					<p>
						<b>接受的货币:</b>&nbsp; <span class="text-nowrap">ETH, BTC</span><br>
						<b>代币兑换率:</b> <span class="text-nowrap">1 ETH = 10,000 ELT</span><br>
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 text-token">
					<p>
						<b>每个人的代币量:</b>   <span class="text-nowrap">无限制</span><br>
						<b>最大交易量:</b> <span class="text-nowrap">无限制</span><br>
						<b>最小交易量:</b> <span class="text-nowrap">0.1 ETH</span><br>
					</p>
				</div>

				<p class="col-md-12 font-l-35 distribution-token">
					<br><br>Eloplay 代币分配				</p>
				<div class="col-md-12 row-tokens">
					<div class="item-distribution-token" data-aos="fade-left" data-aos-offset="300">
						<div class="distribution-80"><p>80%</p><p class="txt-caps">代币发售</p></div>
					</div>
					<div class="item-distribution-token" data-aos="fade-left" data-aos-delay="200" data-aos-offset="300">
						<div class="distribution-10"><p>10%</p><p class="txt-caps">团队</p></div>
					</div>
					<div class="item-distribution-token" data-aos="fade-left" data-aos-delay="400" data-aos-offset="300">
						<div class="distribution-5"><p>5%</p><p class="txt-caps">咨询委员会</p></div>
					</div>
					<div class="item-distribution-token" data-aos="fade-left" data-aos-delay="600" data-aos-offset="300">
						<div class="distribution-3"><p>3%</p><p class="txt-caps">奖金计划</p></div>
					</div>
					<div class="item-distribution-token" data-aos="fade-left" data-aos-delay="800" data-aos-offset="300">
						<div class="distribution-2"><p>2%</p><p class="txt-caps">长期奖金基金<br></p>
						<!-- 	<p class="txt-info txt-caps">info+<br>tournaments</p> -->
						</div>
					</div>
				</div>
			</div>
			<!--a class="btn btn-large-color-y" href="#docs">Eloplay Roadmap</a-->
		</div>

		<div class="container command" data-aos="fade-down" data-aos-delay="800" data-aos-offset="300">
			<p class="font-l-42 title-command" id="team">Eloplay 团队</p>

			<div class="box-item-command show-mobil" ng-cloak>
				<div class="slick-command">
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/vitalybalakhonov" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/vbalakhonov.jpg?v=1505902222" alt="Vitaly Balakhonov">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Vitaly Balakhonov</p>
								<p>СЕО</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/imyfix" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/yvysotskiy.jpg?v=1505902222" alt="Yuri Vysotskiy">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Yuri Vysotskiy</p>
								<p>СТО</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/dmytro-salnikov-55a051147" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/dsalnikov.jpg?v=1505902222" alt="Dmytro Salnikov">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Dmytro Salnikov</p>
								<p>CIO, Founder</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/nirasaf/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/nirasaf.jpg?v=1505902222" alt="Nir Asaf">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Nir Asaf</p>
								<p>Marketing and Community</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/menaskop/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/vpopov.jpg?v=1505902222" alt="Vladymir Popov">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Vladymir Popov</p>
								<p>Media Advisor</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/sergeymushta" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/smushta.jpg?v=1505902222" alt="Sergey Mushta">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Sergey Mushta</p>
								<p>Solidity and Fullstack Developer</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/imyyv" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/yyakovenko.jpg?v=1505902222" alt="Yaroslav Yakovenko">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Yaroslav Yakovenko</p>
								<p>Fullstack Developer</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/sergeykorzhikov" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/skorzhikov.jpg?v=1505902222" alt="Sergey Korzhikov">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Sergey Korzhikov</p>
								<p>Fullstack Developer</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/larvs" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/alezhenko.jpg?v=1505902222" alt="Aleksandr Lezhenko">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Aleksandr Lezhenko</p>
								<p>Senior Fullstack Developer</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/pavel-zakhovalko-408200139" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/pzakhovalko.jpg?v=1505902222" alt="Pavel Zakhovalko">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Pavel Zakhovalko</p>
								<p>Fullstack Developer</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="#" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/apashchenko.jpg?v=1505902222" alt="Andrey Pashchenko">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Andrey Pashchenko</p>
								<p>Frontend Developer</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/viktoriia-moskalenko-b758a014a" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/vmoskalenko.jpg?v=1505902222" alt="Victoria Moskalenko">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Victoria Moskalenko</p>
								<p>Human Resources</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/dmitriy-makushin-9b08a014a" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/dmakushin.jpg?v=1505902222" alt="Dmitriy Makushin">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Dmitriy Makushin</p>
								<p>Frontend Developer</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/oleksandr-svyrydovskyi-8288a014a" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/osviridovskiy.jpg?v=1505902222" alt="Oleksandr Sviridovskiy">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Oleksandr Sviridovskiy</p>
								<p>Quality Assurance</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://linkedin.com/in/valeria-arsjuta-15b8a514a/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/varsjuta.jpg?v=1505902222" alt="Valeria Arsjuta">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Valeria Arsjuta</p>
								<p>Legal Advisor</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/elizabeth-izmailova/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/eizmailova.jpg?v=1506332988" alt="Elizabeth Izmailova">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Elizabeth Izmailova</p>
								<p>Project Manager</p>
							</div>
						</div>
					</div>
				</div>
				<div class="command-control-container">
					<!-- <div class="command-class-dots"></div> -->
					<div class="command-class-arrow"></div>
				</div>
			</div>

			<div class="box-item-command show-desktop">
					<div class="item-command">
					<a href="https://linkedin.com/in/vitalybalakhonov" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/vbalakhonov.jpg?v=1505902222" alt="Vitaly Balakhonov">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Vitaly Balakhonov</p>
						<p>СЕО</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/imyfix" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/yvysotskiy.jpg?v=1505902222" alt="Yuri Vysotskiy">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Yuri Vysotskiy</p>
						<p>СТО</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/dmytro-salnikov-55a051147" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/dsalnikov.jpg?v=1505902222" alt="Dmytro Salnikov">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Dmytro Salnikov</p>
						<p>CIO, Founder</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/nirasaf/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/nirasaf.jpg?v=1505902222" alt="Nir Asaf">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Nir Asaf</p>
						<p>Marketing and Community</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/menaskop/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/vpopov.jpg?v=1505902222" alt="Vladymir Popov">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Vladymir Popov</p>
						<p>Media Advisor</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/sergeymushta" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/smushta.jpg?v=1505902222" alt="Sergey Mushta">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Sergey Mushta</p>
						<p>Solidity and Fullstack Developer</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/imyyv" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/yyakovenko.jpg?v=1505902222" alt="Yaroslav Yakovenko">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Yaroslav Yakovenko</p>
						<p>Fullstack Developer</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/sergeykorzhikov" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/skorzhikov.jpg?v=1505902222" alt="Sergey Korzhikov">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Sergey Korzhikov</p>
						<p>Fullstack Developer</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/larvs" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/alezhenko.jpg?v=1505902222" alt="Aleksandr Lezhenko">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Aleksandr Lezhenko</p>
						<p>Senior Fullstack Developer</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/pavel-zakhovalko-408200139" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/pzakhovalko.jpg?v=1505902222" alt="Pavel Zakhovalko">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Pavel Zakhovalko</p>
						<p>Fullstack Developer</p>
					</div>
				</div>
				<div class="item-command">
					<a href="#" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/apashchenko.jpg?v=1505902222" alt="Andrey Pashchenko">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Andrey Pashchenko</p>
						<p>Frontend Developer</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/viktoriia-moskalenko-b758a014a" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/vmoskalenko.jpg?v=1505902222" alt="Victoria Moskalenko">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Victoria Moskalenko</p>
						<p>Human Resources</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/dmitriy-makushin-9b08a014a" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/dmakushin.jpg?v=1505902222" alt="Dmitriy Makushin">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Dmitriy Makushin</p>
						<p>Frontend Developer</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/oleksandr-svyrydovskyi-8288a014a" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/osviridovskiy.jpg?v=1505902222" alt="Oleksandr Sviridovskiy">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Oleksandr Sviridovskiy</p>
						<p>Quality Assurance</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://linkedin.com/in/valeria-arsjuta-15b8a514a/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/varsjuta.jpg?v=1505902222" alt="Valeria Arsjuta">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Valeria Arsjuta</p>
						<p>Legal Advisor</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/elizabeth-izmailova/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/eizmailova.jpg?v=1506332988" alt="Elizabeth Izmailova">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Elizabeth Izmailova</p>
						<p>Project Manager</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container command">
		<p class="font-l-42 title-command" id="advisors" data-aos="fade-down" data-aos-delay="400" data-aos-offset="300">Eloplay Advisors</p>
			<div class="box-item-command show-mobil" ng-cloak>
				<div class="slick-advisors">
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/andrei-veressov-b535ba21" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/averesov.jpg?v=1505902222" alt="Andrei Veressov">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Andrei Veressov</p>
								<p>Legal Advisor</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/norbert-radoki-366447133/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/norbert-radoki.jpg?v=1505902222" alt="Norbert Radoki">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Norbert Radoki</p>
								<p>Media Advisor<br>CEO Bitcoinist.com</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/ivo-georgiev-8298b678/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/ivo-georgiev.jpg?v=1505902222" alt="Ivo Georgiev">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Ivo Georgiev</p>
								<p>Advertising advisor<br>CEO adex.network</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/matetokay/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/matetokay.jpg?v=1506078958" alt="Mate Tokay">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Mate Tokay</p>
								<p>Advisor<br>COO at Bitcoin.com</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/ofir-avigad-64888123/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/ofir_avigad.jpg?v=1506335252" alt="Ofir Avigad">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Ofir Avigad</p>
								<p>Marketing Advisor</p>
							</div>
						</div>
					</div>
					<div>
						<div class="item-command">
							<a href="https://www.linkedin.com/in/estebanvangoor/" target="_blank">
								<div class="command-photo">
									<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
									<img class="img-responsive" src="img/team/estebanvangoor.jpg?v=1506335290" alt="Esteban van Goor">
								</div>
							</a>
							<div class="box-text-info no-line">
								<p>Esteban van Goor</p>
								<p>Legal,<br>Gaming Advisor</p>
							</div>
						</div>
					</div>
				</div>
				<div class="command-control-container">
					<!-- <div class="command-class-dots"></div> -->
					<div class="advisors-class-arrow"></div>
				</div>
			</div>

			<div class="box-item-command show-desktop">
				<div class="item-command">
					<a href="https://www.linkedin.com/in/andrei-veressov-b535ba21" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/averesov.jpg?v=1505902222" alt="Andrei Veressov">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Andrei Veressov</p>
						<p>Legal Advisor</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/norbert-radoki-366447133/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/norbert-radoki.jpg?v=1505902222" alt="Norbert Radoki">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Norbert Radoki</p>
						<p>Media Advisor<br>CEO Bitcoinist.com</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/ivo-georgiev-8298b678/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/ivo-georgiev.jpg?v=1505902222" alt="Ivo Georgiev">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Ivo Georgiev</p>
						<p>Advertising advisor<br>CEO adex.network</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/matetokay/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/matetokay.jpg?v=1506078958" alt="Mate Tokay">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Mate Tokay</p>
						<p>Advisor<br>COO at Bitcoin.com</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/ofir-avigad-64888123/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/ofir_avigad.jpg?v=1506335252" alt="Ofir Avigad">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Ofir Avigad</p>
						<p>Marketing Advisor</p>
					</div>
				</div>
				<div class="item-command">
					<a href="https://www.linkedin.com/in/estebanvangoor/" target="_blank">
						<div class="command-photo">
							<div class="hover-gradient"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<img class="img-responsive" src="img/team/estebanvangoor.jpg?v=1506335290" alt="Esteban van Goor">
						</div>
					</a>
					<div class="box-text-info no-line">
						<p>Esteban van Goor</p>
						<p>Legal,<br>Gaming Advisor</p>
					</div>
				</div>
			</div>
		</div>
			
		<div class="bg-in-media" id="docs">
			<div class="container">
			<p class="font-l-42 title-pay-token">Documents</p>
				<!-- карусель Eloplay в медиа -->
				<div class="in-media" ng-cloak>
					<div>
						<a href="https://eloplay.github.io/docs/en/eloplay_overview_en_1.pdf" target="_blank" class="item-in-media">
							<div class="header "><p>Presentation</p></div>
							<div class="in-media-content">
								<p class="format-doc">Pdf</p>
								<div class="read"><span>Download</span><i class="icon-arrow-down-circle"></i></div>
							</div>
						</a>
					</div>
					<div>
						<a href="https://eloplay.github.io/docs/en/eloplay_whitepaper_en_1.pdf" target="_blank" class="item-in-media">
							<div class="header "><p>Whitepaper</p></div>
							<div class="in-media-content">
								<p class="format-doc">Pdf</p>
								<div class="read"><span>Download</span><i class="icon-arrow-down-circle"></i></div>
							</div>
						</a>
					</div>
					<div>
						<a href="https://eloplay.github.io/docs/en/eloplay_roadmap_en_1.pdf" target="_blank" class="item-in-media">
							<div class="header "><p>Roadmap</p></div>
							<div class="in-media-content">
								<p class="format-doc">Pdf</p>
								<div class="read"><span>Download</span><i class="icon-arrow-down-circle"></i></div>
							</div>
						</a>
					</div>
					<div>
						<a href="https://eloplay.github.io/docs/en/eloplay_arch_en_1.pdf" target="_blank" class="item-in-media">
							<div class="header duble-line"><p>Platform<br>architecture</p></div>
							<div class="in-media-content">
								<p class="format-doc">Pdf</p>
								<div class="read"><span>Download</span><i class="icon-arrow-down-circle"></i></div>
							</div>
						</a>
					</div>
				</div>
				<center class="visible-xs visible-sm">
					<div class="sl-control-container">
						<div class="sl-class-dots"></div>
						<div class="sl-class-arrow"></div>
					</div>
				</center>
				<!-- END карусель ELoplay в медиа -->
			</div>
		</div>

		<div class="sect-footer" id="media">
			<div class="container">
				<p class="font-l-42 title-pairs top-indent">Eloplay 合作伙伴</p>
				<div class="box-pairs">
					<a href="http://forklog.consulting/" target="_blank" class="items-pairs">
						<img class="icon-forklog" src="./img/forklog.png" alt="">
					</a>
					<a href="http://brightlaw.ee/en/team/" target="_blank" class="items-pairs">
						<img class="icon-bright" src="./img/icon-bright.svg" alt="">
					</a>
					<a href="http://itsynergis.ru/" target="_blank" class="items-pairs">
						<img class="icon-synergis" src="./img/icon-synergis.png" alt="">
					</a>
				</div>

				<p class="font-l-42 title-pairs">Eloplay 媒体报道</p>
				<div class="elo-in-media">

					<a href="https://coinspot.io/company/kibersportivnyj-proekt-elopay-stanet-blokchejn-platformoj/" target="_blank" class="item-media-coinspeaker">
						<img src="img/coinspeaker.png" alt="">
					</a>
					<a href="http://www.newsbtc.com/2017/09/22/blockchain-conquering-esports-industry/" target="_blank" class="item-media-coinspot">
						<img src="img/coinspot.png" alt="">
					</a>
					<a href="https://www.coinspeaker.com/2017/09/25/future-esports-eloplay-launches-ico-build-decentralized-platform-gamers-brands/" target="_blank" class="item-media-newsbtc">
						<img src="img/newsbtc.png" alt="">
					</a>
					<a href="https://vc.ru/p/eloplay" target="_blank" class="item-media-vc">
						<img src="img/icon-partn-1.png" alt="">
					</a>
					<a href="http://playua.net/eloplay-com-spravzhnij-kibersport-u-tebe-vdoma/" target="_blank" class="item-media-playua">
						<img src="img/icon-partn-2.png" alt="">
					</a>
					<a href="https://www.artlebedev.ru/eloplay/" target="_blank" class="item-media-lebedev">
						<img src="img/icon-partn-5.svg" alt="">
					</a>
					<a href="http://www.opengamer.com.ua/esportconf-ukraine-2017-zvit/" target="_blank" class="item-media-openg">
						<img src="img/icon-partn-3.png" alt="">
					</a>
					<a href="http://shpil.com/2016/12/arena-eloplay-put-k-uspeshnomu-kibersportivnomu-budushhemu/" target="_blank" class="item-media-shpil">
						<img src="img/icon-partn-4.svg" alt="">
					</a>

				</div>
			</div>
			<div class="box-bottom">
				<div class="container">
					<ul class="in-social-networks no-bord">
							<li><a href="https://t.me/joinchat/EpNnZg6uThvYzkscpOmbkw" target="_blank"><div class="icon-social-telegram"></div></a></li>
								<li><a href="https://medium.com/@eloplaycom" target="_blank"><div class="icon-social-medium"></div></a></li>
								<li><a href="https://www.facebook.com/eloplaycom" target="_blank"><div class="icon-social-fb"></div></a></li>
								<li><a href="https://twitter.com/eloplaycom" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="https://steemit.com/@eloplaycom" target="_blank"><div class="icon-social-steemit"></div></a></li>
	
					</ul>
					<a class="bottom-logo" href="#main-screen"><img src="./img/logo-eloplay.svg" alt=""></a>
				</div>
			</div>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscribeNews" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">关注代币发售新闻</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="close-sign" aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="box-input-mail">
						<form id="subscribeNews" class="form-group input-mail" action="https://app.getresponse.com/add_subscriber.html" method="post" accept-charset="utf-8" name="reg_form" novalidate>
							<input type="email" name="email" class="form-control st-placeh" placeholder="输入您的电子邮箱" id="send-mail" maxlength="50" ng-class = "{ 'input-error-mail-top': reg_form.email.$error.required && reg_form.email.$touched || !reg_form.email.$error.required && reg_form.email.$touched && !reg_form.email.$valid || reg_form.email.$dirty && reg_form.email.$error.pattern, 'input-error-mail-bottom': !reg_form.password.$valid && reg_form.password.$touched && !reg_form.password.$error.minlength || reg_form.password.$error.minlength && reg_form.password.$touched }" type="email" name="email" ng-model="register.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required ng-keyup="$event.keyCode == 13 && do_register()" autocomplete="off" />
							<div class="error_message" ng-show = "reg_form.email.$error.required && reg_form.email.$touched">输入您的电子邮箱</div>
							<div class="error_message" ng-show = "reg_form.email.$dirty && reg_form.email.$error.pattern">E-mail format: mymail@doman.com</div>
							<input id="check1" type="checkbox" checked name="tockensale_start" value="tockensale_start">							
							<label for="check1" class="label-checkbox del-br-470">使用浏览器推送通知告诉<br>我代币发售开始的信息</label>
							<input type="hidden" name="campaign_token" value="nTjtu" />
							<input type="checkbox" checked name="calendar_event" value="calendar_event" id="calendar_event">
							<label for="calendar_event" class="label-checkbox">将活动添加到日历</label>
						</form>
					</div>
				</div>
				<div class="modal-footer box-time">
					<button type="button" class="btn btn-large-color" id="subscribeBtn" ng-disabled = "!reg_form.$valid" ><span>订阅</span></button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="presaleModal" tabindex="-1" role="dialog" aria-labelledby="presaleModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">Choose the most suitable package</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="close-sign" aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body" style="">
					<div style="position:relative;">
						<div class="presale-body" style="">
							<div style="" class="presale-choise">
								<div class="optimal">
									<h5>Optimal</h5>
									<span>+15%</span>
								</div>
								<div style="padding: 0 34px;">
									<div class="simply-text">Contribution of more than</div>
									<strong>$50 000</strong>
									<a href="https://docs.google.com/forms/d/e/1FAIpQLScOIFVlhTu2ytdKupf23tqUw7wCKeR1kMyfCWM4lfDkGGt5Dg/viewform?entry.937090447&entry.935844818=USD&entry.387821846&entry.2016551138&entry.1003480776&entry.2102973320" target="_blank" class="btn btn-large-color-yellow">make order</a>
								</div>
							</div>
							<div style="" class=" presale-choise">
								<div class="premium">
									<h5>Premium</h5>
									<span>+20%</span>
								</div>
								<div style="padding: 0 34px;">
									<div class="simply-text">Contribution of more than</div>
									<strong>$100 000</strong>
									<a href="https://docs.google.com/forms/d/e/1FAIpQLScOIFVlhTu2ytdKupf23tqUw7wCKeR1kMyfCWM4lfDkGGt5Dg/viewform?entry.937090447&entry.935844818=USD&entry.387821846&entry.2016551138&entry.1003480776&entry.2102973320" target="_blank" class="btn btn-large-color-yellow">make order</a>
								</div>
							</div>
							<div style="" class=" presale-choise">
								<div class="ultimate">
									<h5>Ultimate</h5>
									<span>+25%</span>
								</div>
								<div style="padding: 0 34px;">
									<div class="simply-text">Contribution of more than</div>
									<strong>$200 000</strong>
									<a href="https://docs.google.com/forms/d/e/1FAIpQLScOIFVlhTu2ytdKupf23tqUw7wCKeR1kMyfCWM4lfDkGGt5Dg/viewform?entry.937090447&entry.935844818=USD&entry.387821846&entry.2016551138&entry.1003480776&entry.2102973320" target="_blank" class="btn btn-large-color-yellow">make order</a>
								</div>
							</div>
						</div>
						<br style="clear:both;" />
					</div>
				</div>
<!--				<div class="modal-footer box-time">
</div>-->
			</div>
		</div>
	
	</div>
	<script data-cfasync="true" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script data-cfasync="true" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script data-cfasync="true" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script data-cfasync="true" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
	<script data-cfasync="true" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
	<script data-cfasync="true" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script data-cfasync="true" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
	<script data-cfasync="true" src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>  
	<script data-cfasync="true" src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script> 

	<script data-cfasync="true" src="js/isInViewport.min.js"></script> 
	<script data-cfasync="true" src="js/michalsnik/aos/2.1.1/dist/aos.min.js"></script>
	<script data-cfasync="true" src="js/sciactive/pnotify/3.2.1/dist/pnotify.min.js"></script>  
	<script data-cfasync="true" src="js/moment/moment/2.18.1/min/moment.min.js"></script>
		<script data-cfasync="true" src="js/moment/moment/2.18.1/locale/zh.js"></script>
	

	<script data-cfasync="true" src="js/push_message.js"></script>
	<script data-cfasync="true" src="js/gapi_calendar.js"></script>
	<script data-cfasync="true" src="js/main.js?v=1506078958"></script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<div style="display:none">
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 833484088;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
</div>
<noscript>
<div style="display:none">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/833484088/?guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End Google Code for Remarketing Tag -->

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','ny45c');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

</body>
</html>
