html,
body {
  font-size: 18px;
}
.container {
  max-width: 1320px;
  width: 100%;
}
.blok {
  background: url(img/bg-sec-4.png);
  background-size: cover;
  background-position: center center;   
  background-repeat: no-repeat;        
  width: 100%;
  height: 1950px;
  padding-right: 0;
  background-color: #1c000e; 
}
.name {
  font-size: 38px;
  font-family: DINpro-light;
  border-bottom: 2px solid #F26522;
  width: 145px;
  margin-top: 220px;
  margin-left: 70px;
}
a {
  font-family: Ubuntu-light;
}
span {
  font-weight:bold;
  /*font-family: Ubuntu-Medium;*/
}
p {
  font-family: Ubuntu-light;
}
/*---------------------0-------------------*/
.main-block-0 {
  display: flex;
  height: 100px;
  margin-top: 150px;
}
.blok-left-0 {
  opacity: 0;
  width: 44%;
}
.blok-center-0 {
  width: 125px;
  padding: 0;
}
.blok-right-0 {
  opacity: 0;
  width: 44%;
}
.interior-center-0 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background: linear-gradient(to top, #F26522, #e0e2e2);
}
/*---------------------1-------------------------*/
.main-block {
  display: flex;
  height: 100%;
}
.blok-left {
  padding-right: 0;
  text-align: right;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
}
.blok-center {
  width: 125px;
  padding: 0;
}
.blok-right {
  text-align: left;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
  opacity: 0;
  width: 44%;
}
.interior-left {
  width: 60px;
  height: 20px;
  float: right;
  margin-right: 43%;
  margin-top: 20%;
  /*bottom: 50%;*/
}
  .blok-line {
    width: 40px;
    height: 1px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: #F26522;
  }
    .blok-circle {
      float: right;
      margin-top: -10px;
      width: 17px;
      height: 17px;
      background : linear-gradient(135deg, rgba(242, 146, 34, 1)
        0%, rgba(242, 101, 34, 1) 100%);
      border-radius: 50%;
    }
.interior-center {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background-color: #F26522;
}
.interior-right {
  width: 100px;
}
/*---------------------2-------------------*/
.main-block-2 {
  display: flex;
  height: 100%;
}
.blok-left-2 {
  opacity: 0;
  width: 44%;
}
.blok-center-2 {
  width: 125px;
  padding: 0;
}
.blok-right-2 {
  padding: 0;
  text-align: left;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
}
.interior-left-2 {
  margin-right: 43%;
}
.interior-center-2 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background-color: #F26522;
}
.interior-right-2 {
  width: 60px;
  height: 20px;
  float: left;
  margin-left: 43%;
  margin-top: -55%;
}
  .blok-line-2 {
    width: 40px;
    height: 1px;
    margin-left: 15px;
    margin-top: 0;
    background-color: #F26522;
  }
    .blok-circle-2 {
      float: left;
      margin-top: -10px;
      width: 17px;
      height: 17px;
      background : linear-gradient(135deg, rgba(242, 146, 34, 1)
        0%, rgba(242, 101, 34, 1) 100%);
      border-radius: 50%;
    }
/*-------------------------3---------------------------*/
.main-block-3 {
  display: flex;
  height: 100%;
}
.blok-left-3 {
  padding-right: 0;
  text-align: right;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
}
.blok-center-3 {
  width: 125px;
  padding: 0;
}
.blok-right-3 {
  padding-right: 0;
  text-align: left;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
  opacity: 0;
  width: 44%;
}
.interior-left-3 {
  width: 60px;
  height: 20px;
  float: right;
  margin-right: 43%;
  margin-top: 30%;
}
  .blok-line-3 {
    width: 40px;
    height: 1px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: #F26522;
  }
    .blok-circle-3 {
      float: right;
      margin-top: -10px;
      width: 17px;
      height: 17px;
      background : linear-gradient(135deg, rgba(242, 146, 34, 1)
        0%, rgba(242, 101, 34, 1) 100%);
      border-radius: 50%;
    }
.interior-center-3 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background-color: #F26522;
}
.interior-right-3 {
  width: 49%;
}
/*---------------------4-------------------*/
.main-block-4 {
  display: flex;
  height: 100%;
}
.blok-left-4 {
  opacity: 0;
  width: 44%;
}
.blok-center-4 {
  width: 125px;
  padding: 0;
}
.blok-right-4 {
  padding-left: 0;
  text-align: left;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
}
.interior-left-4 {
  margin-right: 43%;
}
.interior-center-4 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background-color: #F26522;
}
.interior-right-4 {
  width: 60px;
  height: 20px;
  float: left;
  margin-left: 43%;
  margin-top: -40%;
}
  .blok-line-4 {
    width: 40px;
    height: 1px;
    margin-left: 15px;
    margin-top: 0;
    background-color: #F26522;
  }
    .blok-circle-4 {
      float: left;
      margin-top: -10px;
      width: 17px;
      height: 17px;
      background : linear-gradient(135deg, rgba(242, 101, 34, 1) 0%,
       rgba(242, 146, 34, 1) 100%);
      border-radius: 50%;
    }
/*-------------------------5---------------------------*/
.main-block-5 {
  display: flex;
  height: 100%;
}
.blok-left-5 {
  text-align: right;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #F26522;
  color : rgb(242, 101, 34);
}
.blok-center-5 {
  width: 125px;
  padding: 0;
}
.blok-right-5 {
  padding-right: 0;
  text-align: left;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
  opacity: 0;
  width: 44%;
}
.interior-left-5 {
  width: 60px;
  height: 20px;
  float: right;
  margin-right: 43%;
  margin-top: 10%;
}
  .blok-line-5 {
    width: 50px;
    height: 1px;
    margin-left: -15px;
    margin-top: 10px;
    background-color: #5C556B;
  }
    .blok-circle-5 {
      float: right;
      margin-top: -17px;
      margin-right: -8px;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      padding: 10px;
      border: 1px solid #5C556B;
    }
      .blok-circle-5-1 {
        margin-top: -3px;
        margin-left: -3px;
        width: 17px;
        height: 17px;
        background : linear-gradient(135deg, rgba(242, 146, 34, 1)
        0%, rgba(242, 101, 34, 1) 100%);
        box-shadow : 0px 9.69px 15.97px rgba(10, 0, 25, 0.55);
        border-radius: 50%;
      }
.interior-center-5 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background: linear-gradient(to bottom, #F26522, #5C556B);
}
.interior-right-5 {
  width: 49%;
}
/*---------------------6-------------------*/
.main-block-6 {
  display: flex;
  height: 100%;
}
.blok-left-6 {
  opacity: 0;
  width: 44%;
}
.blok-center-6 {
  width: 125px;
  padding: 0;
}
.blok-right-6 {
  padding-left: 0;
  text-align: left;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
}
.interior-left-6 {
  margin-right: 43%;
}
.interior-center-6 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background-color: #5C556B;
}
.interior-right-6 {
  width: 60px;
  height: 10px;
  float: left;
  margin-left: 46%;
  margin-top: -35%;
}
  .blok-line-6 {
    width: 40px;
    height: 1px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: #5C556B;
  }
    .blok-circle-6 {
      float: left;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      background-color: #5C556B;
      border-radius: 50%;
    }
/*---------------------7-------------------------*/
.main-block-7 {
  display: flex;
  height: 100%;
}
.blok-left-7 {
  padding-right: 0;
  text-align: right;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
}
.blok-center-7 {
  width: 125px;
  padding: 0;
}
.blok-right-7 {
  padding-right: 0;
  text-align: left;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
  opacity: 0;
  width: 44%;
}
.interior-left-7 {
  width: 60px;
  height: 10px;
  float: right;
  margin-right: 46%;
  margin-top: 25%;
}
  .blok-line-7 {
    width: 40px;
    height: 1px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: #5C556B;
  }
    .blok-circle-7 {
      float: right;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      background-color: #5C556B;
      border-radius: 50%;
    }
.interior-center-7 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background-color: #5C556B;
}
.interior-right-7 {
  width: 49%;
}
/*---------------------8-------------------*/
.main-block-8 {
  display: flex;
  height: 100%;
}
.blok-left-8 {
  opacity: 0;
  width: 44%;
}
.blok-center-8 {
  width: 125px;
  padding: 0;
}
.blok-right-8 {
  padding-left: 0;
  text-align: left;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
}
.interior-left-8 {
  margin-right: 43%;
}
.interior-center-8 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background-color: #5C556B;
}
.interior-right-8 {
  width: 60px;
  height: 10px;
  float: left;
  margin-left: 46%;
  margin-top: -45%;
}
  .blok-line-8 {
    width: 40px;
    height: 1px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: #5C556B;
  }
    .blok-circle-8 {
      float: left;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      background-color: #5C556B;
      border-radius: 50%;
    }
/*---------------------9-------------------------*/
.main-block-9 {
  display: flex;
  height: 100%;
}
.blok-left-9 {
  padding-right: 0;
  text-align: right;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
}
.blok-center-9 {
  width: 125px;
  padding: 0;
}
.blok-right-9 {
  padding-right: 0;
  text-align: left;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
  opacity: 0;
  width: 44%;
}
.interior-left-9 {
  width: 60px;
  height: 10px;
  float: right;
  margin-right: 46%;
  margin-top: 15%;
}
  .blok-line-9 {
    width: 40px;
    height: 1px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: #5C556B;
  }
    .blok-circle-9 {
      float: right;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      background-color: #5C556B;
      border-radius: 50%;
    }
.interior-center-9 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background-color: #5C556B;
}
.interior-right-9 {
  width: 49%;
}
/*---------------------10-------------------*/
.main-block-10 {
  display: flex;
  height: 100%;
}
.blok-left-10 {
  opacity: 0;
  width: 44%;
}
.blok-center-10 {
  width: 125px;
  padding: 0;
}
.blok-right-10 {
  padding-left: 0;
  text-align: left;
  width: 44%;
  font-size : 16px;
  line-height : 21px;
  color : #5C556B;
  color : rgb(92, 85, 107);
}
.interior-left-10 {
  margin-right: 43%;
}
.interior-center-10 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background-color: #5C556B;
}
.interior-right-10 {
  width: 60px;
  height: 10px;
  float: left;
  margin-left: 46%;
  margin-top: -35%;
}
  .blok-line-10 {
    width: 40px;
    height: 1px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: #5C556B;
  }
    .blok-circle-10 {
      float: left;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      background-color: #5C556B;
      border-radius: 50%;
    }
/*---------------------11-------------------*/
.main-block-11 {
  display: flex;
  height: 100px;
}
.blok-left-11 {
  opacity: 0;
  width: 44%;
}
.blok-center-11 {
  width: 125px;
  padding: 0;
}
.blok-right-11 {
  opacity: 0;
  width: 44%;
}
.interior-left-11 {
  margin-right: 43%;
}
.interior-center-11 {
  max-width: 1px;
  height: 100%;
  margin-left: 50%;
  background: linear-gradient(to bottom, #5C556B, #fff);
}

.btn-default {
  position: relative;
  font-size: 26px;
  padding: 18px 34px;
  margin-top: 200px;
  border: none;
  transition: all .2s ease-out;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow : 0px 15.69px 45.97px rgba(10, 0, 25, 0.55);
  color: #fff;
  background-color: transparent;
  background : linear-gradient(135deg, rgba(242, 146, 34, 1)
   0%, rgba(242, 101, 34, 1) 100%);
}

@media (max-width: 1020px) {
.interior-right-8 {
  margin-top: -65%;
}
}

@media (max-width: 900px) {
.interior-right-8 {
  margin-top: -80%;
}
}

@media (max-width: 820px) {
  .name {
  margin-left: 10px;
}
.blok-right,.blok-right-3,.blok-right-5,.blok-right-7,.blok-right-9 {
  opacity: 1;
}
.blok-right-2,.blok-right-4,.blok-right-6,.blok-right-8,.blok-right-10 {
  padding-left: 15px;
  border-bottom: -20px;
}
.blok-right,.blok-right-2,.blok-right-3,.blok-right-4,.blok-right-5,
.blok-right-6,.blok-right-7,.blok-right-8,.blok-right-9 {
  margin-bottom: 20px;
}
.blok-right-5 {
  color : #F26522;
  color : rgb(242, 101, 34);
}

.blok-left-0,.blok-left,.blok-left-2,.blok-left-3,.blok-left-4,.blok-left-5,
.blok-left-6,.blok-left-7,.blok-left-8,.blok-left-9,.blok-left-10,.blok-left-11 {
  display: none;
}
.interior-left {
  transform: scaleX(-1);
  margin-right: 8%;
}
.interior-left-3 {
  transform: scaleX(-1);
  margin-right: 8%;
  margin-top: 25%;
}
.interior-left-5 {
  transform: scaleX(-1);
  margin-right: 8%;
}
.interior-left-7 {
  transform: scaleX(-1);
  margin-right: 5.5%;
}
.interior-left-9 {
  transform: scaleX(-1);
  margin-right: 5.5%;
}
.interior-right-2 {
  margin-top: -60%;
}
.interior-right-4 {
  margin-top: -50%;
  margin-left: 44%;
}
.interior-right-6 {
  margin-top: -45%;
}
.interior-right-8 {
  margin-top: -60%;
}
.interior-right-10 {
  margin-top: -28%;
}
.blok-line-5 {
  width: 30px;
  margin-left: 8%;
}
}

@media (max-width: 798px) {
.interior-right-8 {
  margin-top: -70%;
}
}