html, body {
	margin: 0;
	padding: 0;
}
.all-block {
	width: 1872px;
	width: 100%;
	height: 1580px;
	background-image: url(img/bg-center.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #1c000e;
}
.head-block {
	height: 366px;
	margin-bottom: 20px;
}
.container {
	width: 1090px;
	margin: 0 auto;
	height: inherit;	
}
.roadmap {
	height: 366px;
}
h1 {
	font-family : DINPro;
  	font-size : 42px;
  	color : #1D1930;
  	color : rgb(29, 25, 48);
  	text-align: left;
  	padding-top: 290px;
}
.roadmap-line {
	width: 162px;
	height: 3px;
	margin-left: 5px;
	background : linear-gradient(90deg, rgba(242, 146, 34, 1) 0%, rgba(242, 101, 34, 1) 100%);
}   

/*  ----------------------------------------*/
.main-block {
	height: 1000px;
}
.info {
	width: 100%;
	height: 764px;
	margin: 0 auto;
}

.info-top {
	height: 66px;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.info-top .info-center-left {
	border-right: 3px solid transparent;
	border-image: linear-gradient(to top, #f0b46d, #eae7e2);
	border-image-slice: 1;
}
.info-date {
	display: flex;	
}
.info-left {
	width: calc(50% - 83px);
	/*border: 1px solid black;*/
	font-family : Myriad Pro;
  	font-size : 16px;
  	line-height : 21px;
  	color : #5C556B;
  	color : rgb(92, 85, 107);
  	text-align: right;
}
.info-right {
	width: calc(50% - 83px);
	/*border: 1px solid black;*/
	font-family : Myriad Pro;
  	font-size : 16px;
  	line-height : 21px;
  	color : #5C556B;
  	color : rgb(92, 85, 107);
}
.info-center-left {
	width: 83px;
	border-right: 3px solid #f0b46d;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.info-center-left-gray {
	border-right: 3px solid #c5c0c4;
}
.info-center-right {
	width: 83px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.block-left-orange {
	width: 58px;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	margin-right: -10px;
	/*border: 1px solid black;*/
}

.block-right-orange {
	width: 58px;
	height: 20px;
	display: flex;
	justify-content: flex-start;
	margin-left: -11px;
	/*border: 1px solid black;*/
}
.line-orange {
	width: 40px;
	height: 2px;
	background: #f27e22;
	align-self: center;
}
.square-orange {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background : linear-gradient(90deg, rgba(242, 146, 34, 1) 0%, rgba(242, 101, 34, 1) 100%);
}
.block-left-active {
	width: 92px;
	height: 32px;
	display: flex;
	justify-content: flex-end;
	margin-right: -16px;
/*	border: 1px solid black;*/
}
.line-active {
	width: 60px;
	height: 2px;
	background: #5c556b;
	align-self: center;
	margin-right: 9px;

}
.square-active {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background : linear-gradient(90deg, rgba(242, 146, 34, 1) 0%, rgba(242, 101, 34, 1) 100%);
    box-shadow : 0px 7px 5px rgba(0, 0, 0, 0.4);
    margin-right: -27px;
    align-self: center;
}
.round {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 2px solid #655f73;
	background: none;
	align-self: center;
	margin-right: -4px;
}
.left-active-text {
	margin-right: 20px;
	color: #f3793f;
	align-self: center;
}
.block-left-grey {
	width: 50px;
	height: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
/*	border: 1px solid black;*/
	margin-right: -6px;
}
.block-right-grey {
	width: 50px;
	height: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
/*	border: 1px solid black;*/
	margin-left: -6px;
}
.line-grey {
	width: 40px;
	height: 2px;
	background: #5C556B;
	margin: auto 0;
}
.square-grey {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #5C556B;
	margin: auto 0;
	
}
.info-bottom {
	height: 40px;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}	
.info-bottom .info-center-left {
	border-right: 3px solid transparent;
	border-image: linear-gradient(to bottom, #bbb8c1, #f4f4f6);
	border-image-slice: 1;
}
.button-big-orange {
	width: 100%;
	display: flex;
	justify-content: center;
}
button {
	width: 374px
	height: 80px;
	background : linear-gradient(135deg, rgba(242, 146, 34, 1) 0%, rgba(242, 101, 34, 1) 100%);
    border-radius : 5px;
    box-shadow : 0px 15.69px 21.97px rgba(10, 0, 25, 0.55);
	font-family : DINPro;
  	font-size : 26px;
  	color : #FFFFFF;
  	color : rgb(255, 255, 255);
  	padding: 15px 30px;
  	margin: 50px auto;
  	text-align: center;
  	border: none;
}

